<div class="col-lg-3 col-sm-6 sm-mb-30">
  <div class="team team-hover team-dark" style="border:solid 1px #323232">
    <div class="team-photo">
      <img class="img-fluid mx-auto" src="assets/images/clients/01.png" alt="">
    </div>
    <div class="team-description">
      <div class="team-info">
        <h5><a href="mailto:test@test.com"> Max Smith</a></h5>
        <span>CEO</span>
      </div>
      <div class="team-contact">
        <span class="call"><a href="tel:01828282882828">+(01) 1234-1249</a> </span>
        <span class="email"><a href="mailto:test@test.com"> <i class="fa fa-envelope-o"></i>
            test@test.com</a></span>
      </div>
      <div class="social-icons color clearfix">
        <ul>
          <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-3 col-sm-6 sm-mb-30">
  <div class="team team-hover team-dark" style="border:solid 1px #323232">
    <div class="team-photo">
      <img class="img-fluid mx-auto" src="assets/images/clients/02.png" alt="">
    </div>
    <div class="team-description">
      <div class="team-info">
        <h5><a href="mailto:test@test.com"> Max Smith</a></h5>
        <span>CEO</span>
      </div>
      <div class="team-contact">
        <span class="call"><a href="tel:01828282882828">+(01) 1234-1249</a> </span>
        <span class="email"><a href="mailto:test@test.com"> <i class="fa fa-envelope-o"></i>
            test@test.com</a></span>
      </div>
      <div class="social-icons color clearfix">
        <ul>
          <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>