<div class="se"></div>
<section class="slider-parallax business-banner bg-overlay-black-50 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url(assets/images/media/sense-logos/SER-HUB.png);">
    <div class="slider-content-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="slider-content text-center">
                        <span class="text-white">Create automate and distribute reliable data assets.</span>
                        <h1 class="theme-color text-uppercase">Sense Excel <span class="white">REPORTING</span> {{sense.excel.reporting.version}} </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
   banner -->


<!--=================================
  about-->

<section class="business-13-about page-section-pb">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-12">
                <div class="business-13-about-content white-bg">
                   
                    <h2 class="mb-30">
                            SENSE EXCEL<i class="theme-color fw-5"> REPORTING </i>
                        IS “THE“ EXTENSION <br>FOR YOUR <i class="theme-color fw-5">QLIK SENSE</i>.</h2>
                    <p class="pl-130 pr-130">Easily share your valuable visualizations, insights
                            and analysis with colleagues using the Sense Excel
                            REPORTING Platform for Qlik® Sense. Continue
                            using the familiar Microsoft® Excel front end you
                            rely on everyday while simultaneously expanding
                            your audience in an automated fashion. </p>

                        <div>
                            <img src="assets/images/media/sense-logos/favicon-sense-excel-reporting.png" alt="SER-Logo">
                        </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 sm-mb-30">
                                        <h4 class="mb-30">Install Sense Excel Reporting</h4>
                                        <div class="js-video [youtube, widescreen]">
                                            <iframe src="https://www.youtube.com/embed/ucFB_rRKYmw?rel=0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 sm-mb-30">
                                        <h4 class="mb-30">SE + SER presentation</h4>
                                        <div class="js-video [youtube, widescreen]">
                                            <iframe src="https://www.youtube.com/embed/ailiiEBEqm8?rel=0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                    <div class="row mt-60">
                        <div class="col-lg-12 col-md-12">
                            <h4 class="mb-30">WITH SENSE EXCEL REPORTING YOU CAN!</h4>
                            <h6 class="mb-30">Export your reports in 14 different formats!</h6>
                            <div class="row mb-30">
                                <div class="col-lg-2 col-md-2 col-sm-1 mb-20">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="../../assets/images/formats/pdf.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-1 mb-20">
                                    <div class="card badge1" data-badge="new">
                                        <div class="card-body">
                                            <img src="../../assets/images/formats/docx.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-1 mb-20">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="../../assets/images/formats/csv.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-1 mb-20">
                                    <div class="card badge1" data-badge="new">
                                        <div class="card-body">
                                            <img src="../../assets/images/formats/pptx.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-1 mb-20">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="../../assets/images/formats/xlsx.png" alt="Excel file format">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-1 mb-20">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="../../assets/images/formats/md.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-1 mb-20">
                                    <div class="card badge1" data-badge="new">
                                        <div class="card-body">
                                            <img src="../../assets/images/formats/ods.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-1 mb-20">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="../../assets/images/formats/xls.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-1 mb-20">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="../../assets/images/formats/tiff.png" alt="Tiff export format">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-1 mb-20">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="../../assets/images/formats/html.png" alt="Html export format">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-1 mb-20">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="../../assets/images/formats/svg.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-1 mb-20">
                                    <div class="card badge1" data-badge="new">
                                        <div class="card-body">
                                            <img src="../../assets/images/formats/xlsm.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-1 mb-20">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="../../assets/images/formats/tsv.png" alt="TSV export format">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-1 mb-20">
                                    <div class="card badge1" data-badge="new">
                                        <div class="card-body">
                                            <img src="../../assets/images/formats/xml-spreadsheet.png" alt="SpreadsheetML export format">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="isotope columns-3 popup-gallery no-title">
                                <div class="grid-item">
                                    <div class="portfolio-item">
                                        <img src="assets/images/media/version/3.2.0/Sense-Excel-REPORTING-3.2.0_1.png" alt="">
                                        <div class="portfolio-overlay">
                                            <h6 class="mt-30 theme-color">Deliver your reports in HUB</h6>
                                            <p class="mb-0">Automate your reporting, scheduling and distribution efforts. [3.2.0]</p>
                                        </div>
                                        <a class="popup portfolio-img" href="assets/images/media/version/3.2.0/Sense-Excel-REPORTING-3.2.0_1.png"><i
                                                class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="portfolio-item">
                                        <img src="assets/images/media/version/3.2.0/Sense-Excel-REPORTING-3.2.0_2.png" alt="">
                                        <div class="portfolio-overlay">
                                                <h6 class="mt-30 theme-color">On-Demand Reports  </h6>
                                                <p class="mb-0">Click & get your Report by On-Demand-Button. [3.2.0]</p>
                                        </div>
                                        <a class="popup portfolio-img" href="assets/images/media/version/3.2.0/Sense-Excel-REPORTING-3.2.0_2.png"><i
                                                class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="portfolio-item">
                                        <img src="assets/images/media/version/3.2.0/Sense-Excel-REPORTING-3.2.0_3.png" alt="">
                                        <div class="portfolio-overlay">
                                            <h6 class="mt-30 theme-color">Distribute to network </h6>
                                            <p class="mb-0">Use Qlik Sense script & create folders and files with a loop. [3.2.0]</p>
                                        </div>
                                        <a class="popup portfolio-img" href="assets/images/media/version/3.2.0/Sense-Excel-REPORTING-3.2.0_3.png"><i
                                                class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="portfolio-item">
                                        <img src="assets/images/media/version/3.2.0/Sense-Excel-REPORTING-3.2.0_4.png" alt="">
                                        <div class="portfolio-overlay">
                                            <h6 class="mt-30 theme-color"> Create Reports and Tasks easy </h6>
                                            <p class="mb-0">Fully integrated web interface like as Qlik QMC. [3.2.0]</p>
                                        </div>
                                        <a class="popup portfolio-img" href="assets/images/media/version/3.2.0/Sense-Excel-REPORTING-3.2.0_4.png"><i
                                                class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="portfolio-item">
                                        <img src="assets/images/media/version/3.2.0/Sense-Excel-REPORTING-3.2.0_5.png" alt="">
                                        <div class="portfolio-overlay">
                                            <h6 class="mt-30 theme-color">Receive your report </h6>
                                            <p class="mb-0">Daily, Hourly, Weekly as you wish and Pixel-perfect. [3.2.0]</p>
                                        </div>
                                        <a class="popup portfolio-img" href="assets/images/media/version/3.2.0/Sense-Excel-REPORTING-3.2.0_5.png"><i
                                                class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="portfolio-item">
                                        <img src="assets/images/media/version/3.2.0/Sense-Excel-REPORTING-3.2.0_6.png" alt="">
                                        <div class="portfolio-overlay">
                                            <h6 class="mt-30 theme-color"> Sense Excel</h6>
                                            <p class="mb-0">Using Microsoft® Excel as your authoring tool. [3.2.0]</p>
                                        </div>
                                        <a class="popup portfolio-img" href="assets/images/media/version/3.2.0/Sense-Excel-REPORTING-3.2.0_1.png"><i
                                                class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="portfolio-item">
                                        <img src="assets/images/media/version/3.4.0/Sense-Excel-REPORTING-3.4.0_1.png" alt="">
                                        <div class="portfolio-overlay">
                                            <h6 class="mt-30 theme-color"> Manage SharedContent</h6>
                                            <p class="mb-0">Delete files and reports from your shared content. [3.4.0]</p>
                                        </div>
                                        <a class="popup portfolio-img" href="assets/images/media/version/3.4.0/Sense-Excel-REPORTING-3.4.0_1.png"><i
                                                class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="portfolio-item">
                                        <img src="assets/images/media/version/3.4.0/Sense-Excel-REPORTING-3.4.0_2.png" alt="">
                                        <div class="portfolio-overlay">
                                            <h6 class="mt-30 theme-color"> Monitoring your task`s</h6>
                                            <p class="mb-0">You can watch all task`s there are currently running. [3.4.0]</p>
                                        </div>
                                        <a class="popup portfolio-img" href="assets/images/media/version/3.4.0/Sense-Excel-REPORTING-3.4.0_2.png"><i
                                                class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="portfolio-item">
                                        <img src="assets/images/media/version/3.4.0/Sense-Excel-REPORTING-3.4.0_3.png" alt="">
                                        <div class="portfolio-overlay">
                                            <h6 class="mt-30 theme-color"> Create a Reporting App</h6>
                                            <p class="mb-0">In a very easy way, create file or folder loops with Qlik scripts! [3.4.0]</p>
                                        </div>
                                        <a class="popup portfolio-img" href="assets/images/media/version/3.4.0/Sense-Excel-REPORTING-3.4.0_3.png"><i
                                                class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="mt-50">Do You Want to Do More With Excel?</h4>
                            <p class="pl-130 pr-130">
                                    With Sense Excel REPORTING you can provide
                                    information tailored to the specific needs of
                                    groups and individual users in your organization.
                                    Easily create reports using the familiar Excel
                                    front-end then automatically schedule and distri- bute them to any number of recipients according
                                    to your Qlik® authorization strategy. Information
                                    can be prepared as a visual or interactive analysis
                                    AS WELL as in standard report formats including
                                    PDF, Excel or HTML. Even employees without an
                                    interactive Qlik® Sense Dashboard can access and
                                    view your results.
                            </p>
                        </div>
                        
                    </div>
       
                    <div class="row text-center mt-30">
                    
                        <div class="col-lg-12 col-sm-12">
                            <h4 class="mb-30">WITH SENSE EXCEL REPORTING YOU CAN:</h4>
                            <ul class="list list-unstyled mb-30  text-left">
                                <li> <i class="fa fa-check"></i> Create and Distribute Reports On-Demand  using Microsoft® Excel as your authoring tool</li>
                                <li> <i class="fa fa-check"></i> Automate your reporting, scheduling and distribution efforts  </li>
                                <li> <i class="fa fa-check"></i> Re-use your Qlik® Sense Role-based security attributes </li>
                                <li> <i class="fa fa-check"></i> Receive imports utilizing Qlik ETL capabilities   </li>
                                <li> <i class="fa fa-check"></i> Create, Distribute and Dynamically Name Reports based on Conditions </li>
                                <li> <i class="fa fa-check"></i> Utilize a Loop and Reduce Strategy to Report on an Automated Series </li>
                                <li> <i class="fa fa-check"></i> Flexibly deploy using distribution strategies including via Qlik® sense
                                    HUB, E-mail Attachments, folders and/or network locations  </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-80">
                        <div class="col-lg-12 col-md-12">
                            <h4 class="mb-30">WHAT DOES THIS MEAN FORE YOU:</h4>
                        </div>
                        <div class="col-lg-4 col-md-4 mb-50">
                            <div class="card">
                                <div class="card-body">
                                    Seamless integration between
                                    Microsoft® Excel and your Qlik® Sense BI Platform
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4  mb-50">
                            <div class="card">
                                <div class="card-body">
                                    Pixel-perfect, legally compliant report definition utilizing
                                    Microsoft® Excel as your front end
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 mb-50">
                            <div class="card">
                                <div class="card-body">
                                    No Excel installation on the server
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 mb-50">
                            <div class="card">
                                <div class="card-body">
                                    NO separate hardware required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 mb-50">
                            <div class="card">
                                <div class="card-body">
                                    Full Integration with the Qlik® Task Scheduler
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 mb-50">
                            <div class="card">
                                <div class="card-body">
                                    Existing Qlik authorization strategies used to target specific
                                    individual and group recipients
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 mb-50">
                            <div class="card">
                                <div class="card-body">
                                    Additional Qlik® Sense licenses are not required for static report
                                    recipients
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 mb-50">
                            <div class="card">
                                <div class="card-body">
                                    Task, report and user filters can be used to specify content
                                    by user or group
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 mb-50">
                            <div class="card">
                                <div class="card-body">
                                    Distribution accomplished utilizing multiple, standard report formats
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
  about-->


<!--=================================
   about -->
<app-download-fullpackage></app-download-fullpackage>
<app-modals></app-modals>

