<!--=================================
footer -->
<footer class="footer page-section-pt black-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 xs-mb-30">
                <div class="footer-useful-link footer-hedding">
                    <h6 class="text-white mb-30 mt-10 text-uppercase">Navigation</h6>
                    <ul>
                        <li>
                            <a href="/home.html">Home</a>
                        </li>
                        <li>
                            <a href="/gdpr.html">GDPR / DSGVO</a>
                        </li>
                        <li>
                            <a href="/imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a target="_blank" href="download/files/Terms-and-conditions.pdf">Terms and conditions</a>
                        </li>
                        <li>
                            <img src="../../assets/images/qlik-select.png" style="wi" alt="QLIK Select Provider" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 xs-mb-30">
                <div class="footer-useful-link footer-hedding">
                    <h6 class="text-white mb-30 mt-10 text-uppercase">Useful Link</h6>
                    <ul>
                        <li>
                            <a href="https://www.akquinet.de/">akquinet AG</a>
                        </li>
                        <li>
                            <a href="https://www.qlik.com">Qlik</a>
                        </li>
  
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 xs-mb-30">
                <h6 class="text-white mb-30 mt-10 text-uppercase">Contact Us</h6>
                <ul class="addresss-info">
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <p>akquinet finance & controlling GmbH </p>
                        <p>Gabelsbergerstraße 9
                            <br>07749 Jena Germany</p>
  
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        <a href="tel:+4936413278720">
                            <span>+493641 32787-20 </span>
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-envelope-o"></i>eu@senseexcel.com</li>
                    <li>
                        <i class="fa fa-envelope-o"></i>us@senseexcel.com</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h6 class="text-white mb-30 mt-10 text-uppercase">Subscribe to Our Newsletter</h6>
                <p>Sign Up to our Newsletter to get the latest news and offers.</p>
                <div class="footer-Newsletter">
                        <script type="text/javascript">
                            /** This section is only needed once per page if manually copying **/
                            if (typeof MauticSDKLoaded == 'undefined') {
                                var MauticSDKLoaded = true;
                                var head            = document.getElementsByTagName('head')[0];
                                var script          = document.createElement('script');
                                script.type         = 'text/javascript';
                                script.src          = 'https://m.sense2go.net/media/js/mautic-form.js';
                                script.onload       = function() {
                                    MauticSDK.onLoad();
                                };
                                head.appendChild(script);
                                var MauticDomain = 'https://m.sense2go.net';
                                var MauticLang   = {
                                    'submittingMessage': "Please wait..."
                                }
                            }
                        </script>
                        
                                <div id="mauticform_wrapper_senseexcelnewslettersubscribers" class="mauticform_wrapper">
                                    <form autocomplete="false" role="form" method="post" action="https://m.sense2go.net/form/submit?formId=45" id="mauticform_senseexcelnewslettersubscribers"
                                        data-mautic-form="senseexcelnewslettersubscribers" enctype="multipart/form-data">
                                        <div class="mauticform-error" id="mauticform_senseexcelnewslettersubscribers_error"></div>
                                        <div class="mauticform-message" id="mauticform_senseexcelnewslettersubscribers_message"></div>
                                        <div class="mauticform-innerform">
                                
                                
                                            <div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">
                                
                                                <div id="mauticform_senseexcelnewslettersubscribers_webnewslettermail" data-validate="webnewslettermail"
                                                    data-validation-type="email" class="mauticform-row mauticform-email mauticform-field-1 mauticform-required">
                                                    <input id="mauticform_input_senseexcelnewslettersubscribers_webnewslettermail" name="mauticform[webnewslettermail]"
                                                        value="" placeholder="Email address" class="mauticform-input form-control" type="email">
                                                    <span class="mauticform-errormsg" style="display: none;">Please fill</span>
                                                </div>
                                
                                                <div id="mauticform_senseexcelnewslettersubscribers_submit" class="mauticform-row mauticform-button-wrapper mauticform-field-2 clear">
                                                    <button type="submit" name="mauticform[submit]" id="mauticform_input_senseexcelnewslettersubscribers_submit"
                                                        value="" class="mauticform-button button button-border mt-20 form-button">Get notified </button>
                                                </div>
                                            </div>
                                        </div>
                                
                                        <input type="hidden" name="mauticform[formId]" id="mauticform_senseexcelnewslettersubscribers_id" value="45">
                                        <input type="hidden" name="mauticform[return]" id="mauticform_senseexcelnewslettersubscribers_return" value="">
                                        <input type="hidden" name="mauticform[formName]" id="mauticform_senseexcelnewslettersubscribers_name" value="senseexcelnewslettersubscribers">
                                
                                    </form>
                                </div>

                        
                        
                </div>
            </div>
        </div>
        <div class="footer-widget mt-20">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 xs-mb-20">
                    <p class="mt-15"> &copy;Copyright
                        <span id="copyright">
                            <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                        </span>
                       <span class="theme-color">Sense Excel</span>  All Rights Reserved </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 text-right xs-text-left">
                    <div class="footer-widget-social hide">
                        <ul>
                            <li>
                                <a href="https://twitter.com/senseexcel" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/senseexcel" target="_blank">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCgQWl9J6OHOstFNPTKfLr5w" target="_blank">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>
  