    <!--=================================
            Our Clients  -->

            <section class="page-section-ptb gray-bg">
              <div class="container">
                  <div class="row">
                      <div class="col-md-8">
                          <div class="section-title">
                              <h6>Have a look at our </h6>
                              <h2 class="title-effect">Client Opinions & Reviews</h2>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-6 col-md-6 ">
                          <div class="owl-carousel" data-nav-arrow="false" data-nav-dots="true" data-items="1" data-lg-items="1" data-md-items="1"
                              data-sm-items="1" data-xs-items="1">
                              <div class="item">
                                  <div class="testimonial bottom_pos light">
  
                                      <div class="testimonial-info"> Analysis in Qlik Sense is „best-of-breed“, however, we all have to appreciate that there
                                          are millions of Excel-Gurus out there, who do not want yet another tool for their
                                          daily tasks. Sense Excel is closing this gap by making a solid, common data structure
                                          as the singlie-point-of-truth in Qlik Sense, available to Excel lovers. (Posted on
                                          18/2/18)
                                      </div>
                                      <div class="author-info">
                                          <strong>very good Review by -
                                              <span>
                                                  VAS Value Added Software GmbH </span>
                                          </strong>
                                      </div>
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="testimonial bottom_pos light">
  
                                      <div class="testimonial-info"> very good (Posted on 1/8/16)</div>
                                      <div class="author-info">
                                          <strong>very good Review by -
                                              <span>
                                                  efstathiou </span>
                                          </strong>
                                      </div>
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="testimonial bottom_pos light">
  
                                      <div class="testimonial-info">
                                          ‘If you need Excel add-in options for Qlik Sense, this is the tool you need. You can easily connect to Qlik Sense Server
                                          in a governed way and create your Excel like reports and share them with other Qlik
                                          users. Look forward to more cool stuff from Akquinet! (Posted on 11/25/15)’
                                      </div>
                                      <div class="author-info">
                                          <strong>Valuable add-on for Qlik Sense! Review by -
                                              <span>Serkan Unal</span>
                                          </strong>
                                      </div>
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="testimonial bottom_pos light">
  
                                      <div class="testimonial-info">
                                          ‘As a Qlik partner, we can finally address the needs of all Excel lovers: Providing direct access to Qlik Sense from within
                                          Excel. A perfect match: Full control in Excel as front end using Qlik Sense as single
                                          source of truth. No more data wrangling by controllers. Particularly, Bex Analyzer
                                          users will be your best friends! (Posted on 11/3/15)’
  
                                      </div>
                                      <div class="author-info">
                                          <strong>Excellent Add-on to Sense and Excel Review by -
                                              <span> Marc</span>
                                          </strong>
                                      </div>
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="testimonial bottom_pos light">
  
                                      <div class="testimonial-info">
                                          Like other competetive products, now Qlik Sense has got a direct client for Excel, not just an export. Any data that is in
                                          an app can now be queried in Excel. Perfect use case for the engine API. Love it.
                                          (Posted on 17/22/15)
  
                                      </div>
                                      <div class="author-info">
                                          <strong>Excellent add on for Excel Review by -
                                              <span> Christof Schwarz</span>
                                          </strong>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
  
                      <div class="col-lg-6 col-md-6 sm-mt-50">
                          <div class="clients-list border column-3">
                              <ul id="clients" class="list-unstyled">
                                  <li>
                                    <a href="https://www.wibuso.de/">  <img class="img-responsive center-block" src="assets/images/clients/01.png" alt=""></a>
                                  </li>
                                  <li>
                                    <a href="https://www.informatec.com/en"><img class="img-responsive center-block" src="assets/images/clients/02.png" alt=""></a>
                                  </li>
                                  <li>
                                     <a href="http://www.vasoft.eu/"><img class="img-responsive center-block" src="assets/images/clients/03.png" alt=""></a>
                                  </li>
                                  <li>
                                    <a href="https://www.transact.de/"><img class="img-responsive center-block" src="assets/images/clients/04.png" alt=""></a>
                                  </li>
                                  <li>
                                     <a href="http://sisinformatik.com/ "><img class="img-responsive center-block" src="assets/images/clients/05.png" alt=""></a>
                                  </li>
                                  <li>
                                     <a href="http://www.mehrwerk-ag.de/"><img class="img-responsive center-block" src="assets/images/clients/06.png" alt=""></a>
                                  </li>
                                  <li>
                                     <a href="https://www.highcoordination.com/en/"><img class="img-responsive center-block" src="assets/images/clients/07.png?v=1" alt=""></a>
                                  </li>
                                  <li>
                                    <a href="https://www.heyde.ch/en/"><img class="img-responsive center-block" src="assets/images/clients/08.png" alt=""></a>
                                  </li>
                                  <li>
                                     <a href="http://www.hpartner.at/"><img class="img-responsive center-block" src="assets/images/clients/09.png" alt=""></a>
                                  </li>
                                  <li>
                                      <a href="http://www.businessdecision.ch/en-gb"><img class="img-responsive center-block" src="assets/images/clients/10.png" alt=""></a>
                                  </li>
                                  <li>
                                    <a href="http://www.consurance.de/en/"><img class="img-responsive center-block" src="assets/images/clients/11.png" alt=""></a>
                                  </li>
                                 
                                  <li>
                                      <a href="http://intellidsi.com">
                                          <img class="img-responsive center-block" src="assets/images/clients/13.png" alt="">
                                      </a>
                                  </li>
                                  <li>
                                      <a href="http://www.smesgroup.com">
                                          <img class="img-responsive center-block" src="assets/images/clients/14.png" alt="">
                                      </a>
                                  </li>
                                  <li>
                                      <a href="http://www.solve100.com">
                                          <img class="img-responsive center-block" src="assets/images/clients/15.png" alt="">
                                      </a>
                                  </li>
                                  <li>
                                      <a href="http://www.disqr.com">
                                          <img class="img-responsive center-block" src="assets/images/clients/16.png" alt="">
                                      </a>
                                  </li>
                                  <li>
                                      <a href="https://www.crunch-data.com/">
                                          <img class="img-responsive center-block" src="assets/images/clients/17.png" alt="">
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </section>