<section class="action-box full-width theme-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h3>
                    <strong>Sense Excel: </strong> The MOST powerful extension for Qlik Sense
                    <sup>&reg;</sup>
                </h3>
                <p>Turbocharge your reporting and analysis with Sense Excel.</p>
                <a class="button border" target="_blank" href="/downloads.html">
                    <span>Get it now!</span>
                    <i class="fa fa-download"></i>
                </a>
            </div>
        </div>
    </div>
  </section>