
<!--=================================
testimonial partner-->

<section class="page-section-ptb bg-overlay-black-80 parallax" style="background-image:url(images/bg/05.jpg);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="owl-carousel" data-nav-dots="true" data-items="1" data-md-items="1" data-sm-items="1">
          <div class="item">
            <div class="testimonial text-white clean">
              <div class="testimonial-"> <img style="width: 100%" alt="" src="../../../assets/images/testimonials/heyde-partner-logo.png"> </div>
              <div class="testimonial-info"> Certain groups, especially Finance, Human Resources and Sales Operations, often ask for the ability to seamlessly integrate Microsoft Excel with the Qlik Sense Business Intelligence Platform. With Sense Excel, we can offer a solution to our customers that doesn’t AIM to completely replace Excel as a reporting tool.</div>
              <div class="author-info"> <strong> Heyde (Schweiz) AG - <span>Marc Kaiser </span></strong> </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial text-white clean">
              <div class="testimonial-"> <img style="width: 100%" alt="" src="../../../assets/images/testimonials/prisma-partner-logo.png"> </div>
              <div class="testimonial-info"> Excel has extremely high usage in Finance and Controlling departments.  However, due to the inherent system limitations, it is not suitable for big-data analysis. Sense Excel, in conjunction with Qlik Sense, closes this gap and significantly increases our value add to our Qlik Sense consulting customers.</div>
              <div class="author-info"> <strong> prisma informatik GmbH - <span> Claudius Malue Managing Director</span></strong> </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial text-white clean">
              <div class="testimonial-"> <img  style="width: 100%" alt="" src="../../../assets/images/testimonials/vaserv-partner-logo.png"> </div>
              <div class="testimonial-info"> Analysis in Qlik Sense is „best-of-breed“, however, we all have to appreciate that there are millions of Excel-Gurus out there, who do not want yet another tool for their daily tasks. Sense Excel is closing this gap by making a solid, common data structure as the single-point-of-truth in Qlik Sense, available to Excel lovers.
                </div>
              <div class="author-info"> <strong>VAS GmbH  - <span> Managing Director Michael Wolter</span></strong> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
testimonial-->