<app-pagetitle path="Receive" title="Thank you" subtitle="We have received your request!" imageurl="assets/images/media/sense-logos/downloads.png"></app-pagetitle>
<section class="maintenance-main page-section-ptb clearfix">
    <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12">
            <div class="text-center">
                <i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>
                <h1 class="theme-color mt-20">Thank you for message!</h1>
                <img src="assets/images/media/sense-logos/favicon-sense-excel.png" alt="SE-logo">
            </div>
        </div>
      </div>
     </div>
   </section>