<header id="header" class="header default">
    <div class="menu">
        <!-- menu start -->
        <nav id="menu" class="mega-menu">
            <!-- menu list items container -->
            <section class="menu-list-items" style="background: #222">
                <div class="container" >
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <!-- menu logo -->
                            <ul class="menu-logo">
                                <li>
                                    <a href="/home.html"><img id="logo_img" src="assets/images/logo.png" alt="logo"> </a>
                                </li>
                            </ul>
                            <!-- menu links -->
                            <div class="menu-bar navbar-inverse affix">
                                <ul class="menu-links">
                                    <li><a href="/home.html">Home</a></li>
                                    <li><a href="/home.html"> Sense Excel <i class="fa fa-angle-down fa-indicator"></i></a>
                                        <div class="drop-down grid-col-5 menu-offset-4">
                                            <!--grid row-->
                                            <div class="grid-row">
                                                <!--grid column 3-->
                                                <div class="grid-col-6">
                                                  
                                                    <ul>
                                                        <li><a href="/home.html"><i class="fa fa-info-circle"></i>Sense Excel</a></li>
                                                        <li><a href="/technical-overview-se.html"><i class="fa fa-cogs"></i> Technical Overview</a></li>
                                                        <li><a href="https://github.com/senseexcel/senseexcel/blob/master/install_guide.md" target="_blank"><i class="fa fa-comments-o"></i> Help</a></li>
                                                    </ul>
                                                 
                                                </div>
                                                <div class="grid-col-6">
                                                   
                                                    <ul>
                                                        <li><a href="/download/files/SenseExcel.EN.Fyler.pdf" target="_blank"><i class="fa fa-file-text-o"></i> PDF Flyer SE</a></li>
                                                        <li><a href="https://github.com/senseexcel" target="_blank"><i class="fa fa-github"></i> GitHub</a></li>
                                                        <li><a href="https://www.youtube.com/channel/UCgQWl9J6OHOstFNPTKfLr5w" target="_blank"><i class="fa fa-youtube"></i> YouTube</a></li>
                                                      
                                                    </ul>
                                                </div>
                                                <div class="grid-col-12">
                                                        <a class="button button-border icon" href="/downloads.html"  data-toggle="tooltip" data-placement="top" title="Download Sense Excel">
                                                                <span>Download SE-3.2.0.zip</span>
                                                                <i class="fa fa-download"></i>
                                                            </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="/all-about-reporting.html">Sense Excel Reporting <i class="fa fa-angle-down fa-indicator"></i></a>
                                        <div class="drop-down grid-col-5 menu-offset-4">
                                            <!--grid row-->
                                            <div class="grid-row">
                                                <!--grid column 3-->
                                                <div class="grid-col-6">
                                                    <ul>
                                                        <li><a href="/all-about-reporting.html"><i class="fa fa-info-circle"></i>Sense Excel Reporting</a></li>
                                                        <li><a href="/technical-overview-ser.html"><i class="fa fa-cogs"></i> Technical Overview</a></li>
                                                        <li><a href="https://github.com/senseexcel/senseexcel-reporting" target="_blank"><i class="fa fa-comments-o"></i> Help</a></li>
                                                    </ul>
                                                </div>
                                                <div class="grid-col-6">
                                                 
                                                    <ul>
                                                        <li><a href="/download/files/SenseExcel-Reporting.EN.Fyler.pdf" target="_blank"><i class="fa fa-file-text-o"></i> PDF Flyer SER </a></li>
                                                        <li><a href="https://github.com/senseexcel/senseexcel-reporting" target="_blank"><i class="fa fa-github"></i> GitHub</a></li>
                                                        <li><a href="https://www.youtube.com/channel/UCgQWl9J6OHOstFNPTKfLr5w" target="_blank"><i class="fa fa-youtube"></i> YouTube</a></li>
                                                      
                                                    </ul>
                                                </div>
                                                <div class="grid-col-12">
                                                        <a class="button button-border icon" href="downloads.html"  data-toggle="tooltip" data-placement="top" title="Download Sense Excel Reporting">
                                                                <span>Download SER-3.2.0.zip</span>
                                                                <i class="fa fa-download"></i>
                                                            </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="our-pricing-infos.html">Pricing</a></li>
                                    <li><a href="javascript:void(0)">Events <i class="fa fa-angle-down fa-indicator"></i></a>
                                        <div class="drop-down">
                                            <!--grid row-->
                                            <div class="grid-row">
                                                <li><a href="/events.html"><i class="fa fa fa-calendar"></i> Qonnections 2018</a></li>
                                                <li><a href="/next-webinars.html"><i class="fa fa fa-podcast"></i> live Webinar</a></li>
                                                <p>We organize our webinars once a month regularly.</p>
                                                <div class="mt-30">
                                                    <a class="button button-border icon" target="_blank" href="/next-webinars.html">
                                                        <span>Register Now</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="/contact-us.html">Contact us </a>
                                    </li>
                                    <li><a href="javascript:void(0)"> Help <i class="fa fa-angle-down fa-indicator"></i></a>
                                        
                                        <div class="drop-down grid-col-3">
                                            <!--grid row-->
                                            <div class="grid-row">
                                                <!--grid column 3-->
                                                <div class="grid-col-12">
                                                    <ul>
                                                        <li><a href="https://github.com/senseexcel/senseexcel/blob/master/install_guide.md" target="_blank"><i class="fa fa-file-text-o"></i>
                                                                Online Doku SE </a></li>
                                                        <li><a href="https://github.com/senseexcel/senseexcel-reporting" target="_blank"><i class="fa fa-file-text-o"></i>
                                                                Online Doku SER </a></li>
                                                                <li><a href="https://www.youtube.com/channel/UCgQWl9J6OHOstFNPTKfLr5w" target="_blank"><i class="fa fa-video-camera"></i>
                                                                    YouTube-Channel </a>
                                                                <small style="font-size: 8px; color:#999">A lot of short helping videos.</small> </li>
                                                            <li><a href="mailto:alex@senseexcel.com"><i class="fa fa-envelope-o"></i>
                                                                    Support </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </nav>
        <!-- menu end -->
    </div>
</header>