<section class="contact-box contact-box-top gray-bg full-width">
    <div class="container">
        <h3 class="pt-40">
            <strong>International </strong>
        </h3>
        <p>It would be great to hear from you! If you got any questions, please do not hesitate to send us a message.</p>
        <div class="row pt-20 pb-40">
            <div class="col-lg-4 col-sm-4 xs-mb-30">
                <div class="contact-box">
                    <div class="contact-icon">
                        <i class="ti-map text-black" style="color:#000"></i>
                    </div>
                    <div class="contact-info">
                        <h5 class="text-black"> 201 46th Avenue </h5>
                        <span class="text-black">St. Pete Beach, FL 33706</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 xs-mb-30">
                <div class="contact-box">
                    <div class="contact-icon">
                        <i class="ti-headphone" style="color:#000"></i>
                    </div>
                    <div class="contact-info">
                        <h5 class="text-black">+1 703 625 7738</h5>
                        <span class="text-black">Mo-Fr 8am-4pm (GTM-5) </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="contact-box">
                    <div class="contact-icon">
                        <i class="ti-email" style="color:#000"></i>
                    </div>
                    <div class="contact-info">
                        <h5 class="text-black">us@senseexcel.com</h5>
                        <span class="text-black">We reply within 24 hours!</span>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mb-40">
                <button type="button" class="button btn-lg text-center" data-toggle="modal" data-target="#myModal">
                    Time Difference
                </button>

            </div>
        </div>
    </div>
</section>