<div class="action-box black-bg mb-5" style="background: #811762; background-image: url(../../../assets/images/events/qlikqonnections_2019_BG.png); background-position: center bottom">
  <div class="action-box-text text-left">
    <span class="text-left text-white">Visit us on</span>
    <h3 class="text-left"><strong>Qonnections </strong> 2019</h3>
    <p class="text-left">Qlik's Global Conference MAY 13-16 • DALLAS, TX</p>
    <p class="text-left"><strong>1501 Gaylord Trail, Grapevine, TX 76051</strong></p>
  </div>
  <div class="action-box-button">
    <a class="button button-border" style="border-color:#fff !important" href="/qlikqonnections-days-2019.html">
      <span class="text-white">more information click here</span>
    </a>
  </div>
</div>