<section class="action-box full-width theme-bg">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12">
              <h3>
                  <strong>Sense Excel Plugin Installer & Updater </strong> 
              </h3>
              <p>The easiest way to get your plugin right!</p>
              <a class="button border" target="_blank" href="/downloads.html">
                  <span>Get it now!</span>
                  <i class="fa fa-download"></i>
              </a>
          </div>
      </div>
  </div>
</section>