<section class="page-section-pb mt-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mb-80">Sense Excel Partners Network</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <ul class="list list list-unstyled mb-30">
          <li> <i class="fa fa-dot-circle-o"></i> Pomerol Partners - United Kingdom </li>
          <li> <i class="fa fa-dot-circle-o"></i> SME Solutions Group, Inc. - United States </li>
          <li> <i class="fa fa-dot-circle-o"></i> Catalyst Analytics, LLC - United States </li>
          <li> <i class="fa fa-dot-circle-o"></i> IntelliData Solutions, Inc. - United States</li>
          <li> <i class="fa fa-dot-circle-o"></i> Axis Group - United States</li>
          <li> <i class="fa fa-dot-circle-o"></i> Synovos - United States</li>
          <li> <i class="fa fa-dot-circle-o"></i> <span class="badge badge-danger">New</span> Vantis Consulting Group - Hong Kong </li>
          <li> <i class="fa fa-dot-circle-o"></i> B2IT - South Africa</li>
          <li> <i class="fa fa-dot-circle-o"></i> DT BIT - Israel</li>
          <li> <i class="fa fa-dot-circle-o"></i> SDG Group - Italy</li>
        </ul>
      </div>
      <div class="col-lg-4 col-sm-6">
        <ul class="list list list-unstyled mb-30">
          <li> <i class="fa fa-dot-circle-o"></i> VICTA - Netherlands </li>
          <li> <i class="fa fa-dot-circle-o"></i> ROND - Netherlands </li>
          <li> <i class="fa fa-dot-circle-o"></i> at once - Belgium </li>
          <li> <i class="fa fa-dot-circle-o"></i> ROHA - Austria </li>
          <li> <i class="fa fa-dot-circle-o"></i> SIS World - Austria  </li>
          <li> <i class="fa fa-dot-circle-o"></i> BZTRS Agency B.V - Austria</li>
          <li> <i class="fa fa-dot-circle-o"></i> Harrer & Partner - Austria </li>
          <li> <i class="fa fa-dot-circle-o"></i> Informatec - Switzerland  </li>
          <li> <i class="fa fa-dot-circle-o"></i> Heyde - Switzerland </li>
          
        </ul>
      </div>
      <div class="col-lg-4 col-sm-6">
        <ul class="list list list-unstyled mb-30">
          <li> <i class="fa fa-dot-circle-o"></i> Lizardis - Germany </li>
          <li> <i class="fa fa-dot-circle-o"></i> Inform - Germany  </li>
          <li> <i class="fa fa-dot-circle-o"></i> High Coordination - Germany  </li>
          <li> <i class="fa fa-dot-circle-o"></i> Consurance - Germany </li>
          <li> <i class="fa fa-dot-circle-o"></i> Prisma-Informatik - Germany  </li>
          <li> <i class="fa fa-dot-circle-o"></i> Mehrwerk - Germany </li>
          <li> <i class="fa fa-dot-circle-o"></i> VAS - Germany  </li>
          <li> <i class="fa fa-dot-circle-o"></i> Transact - Germany  </li>
          <li> <i class="fa fa-dot-circle-o"></i> WBS - Germany  </li>
        </ul>
      </div>
      
    </div>
  </div>
</section>