<section class="action-box theme-bg full-width animate-color-bg-inverse">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 bounceInUp wow">
                <h3>
                    <strong> Sense Excel </strong>
                </h3>
                <p> With Sense Excel you will spark the turbo for your analysis and reports.</p>
                <!-- <a class="button border icon white" target="_blank" href="https://m.sense2go.net/get-sense-excel-package">
                    <img src="images/media/sense-logos/qlik.market.icon.png" alt="">
                    <span>Download </span>
  
                </a> -->
                <a class="button border icon white" target="_blank" href="download/files/SenseExcel.EN.Fyler.pdf">
                    <span> Download PDF</span>
                    <i class="icon ti-download"></i>
                </a>
  
            </div>
        </div>
    </div>
  </section>