<section class="awesome-features gray-bg page-section-ptb pos-r">
  <div class="side-background">
      <div class="col-md-5 img-side img-left visible-md visible-lg">
          <div class="row page-section-pt mt-30 bounceInRight wow" style="visibility: visible; animation-name: bounceInRight;">
              <img src="assets/images/media/sense-logos/page-1.png" alt="">
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-12 col-md-offset-5 bounceInUp wow" style="visibility: visible; animation-name: bounceInUp;">
              <div class="section-title">
                  <h6>With Sense Excel
                      <sup>®</sup>

                  </h6>
                  <h2 class="title-effect">YOU CAN</h2>


              </div>
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="feature-text text-left mb-30">
                          <ul class="list list-mark">
                              <li> Seamlessly Integrate Microsoft Excel® and the Qlik Sense Business Intelligence Platform</li>
                              <li> Take Full Advantage of the Power and Flexibility of Both </li>
                              <li> Create Pixel-Perfect, Legally Compliant Reports from Qlik Sense using MS Excel</li>
                              <li> Deploy with NO Excel Server Installation and NO Separate Hardware</li>
                              <li> Scale for the Needs of Your Business</li>
                          </ul>

                      </div>
                  </div>

              </div>
              <div class="row">
                  <h3>SenseExel 3.0 (new release)  </h3>
                  <div class="blog-entry-html-video clearfix">
                      <video style="width:100%;height:100%;" id="player1" poster="assets/images/animiert/cover-senseexcel-3.0.png" controls="" preload="none">
                          <source type="video/mp4" src="assets/images/animiert/senseexel3.0.mp4">
                      </video>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                      <p>
                          <small>Sense Excel and Sense Excel Reporting. Ideal solutions for YOUR business. </small>
                      </p>
                      <div class="mt-30">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>