
<!--=================================
 Gallery -->

 <section id="Gallery" class="portfolio page-section-ptb wihte-bg" style="background: url(assets/images/gallery/qonnections/bg.png); background-position: left top; background-repeat:no-repeat">
  <div class="container">
      <div class="row">
          <div class="section-title text-center">
              <h6>APRIL 23-26 • ORLANDO, FL</h6>
              <h2>Qonnections 2018</h2>
          </div>
      </div>
      <div class="isotope-filters">
          <button data-filter="" class="active">All</button>
        
      </div>
      <div class="isotope popup-gallery columns-4 no-title">
          <div class="grid-item photography illustration">
              <div class="portfolio-item">
                  <img src="assets/images/gallery/qonnections/01.jpg" alt="">
                  <div class="portfolio-overlay">
                      <h4 class="text-white">
                          <a href="#">A few preparations</a>
                      </h4>
                      <span class="text-white">
                          <a href="#"> Qonnections 2018 </a>
                      </span>
                  </div>
                  <a class="popup portfolio-img" href="assets/images/gallery/qonnections/01.jpg">
                      <i class="fa fa-arrows-alt"></i>
                  </a>
              </div>
          </div>
          <div class="grid-item photography branding">
              <div class="portfolio-item">
                  <img src="assets/images/gallery/qonnections/02.jpg" alt="">
                  <div class="portfolio-overlay">
                      <h4 class="text-white">
                          <a href="#"> Say cheese with Lenka </a>
                      </h4>
                      <span class="text-white">
                      <a href="#"> Qonnections 2018 </a>
                      </span>
                  </div>
                  <a class="popup portfolio-img" href="assets/images/gallery/qonnections/02.jpg">
                      <i class="fa fa-arrows-alt"></i>
                  </a>
              </div>
          </div>
          <div class="grid-item illustration branding">
              <div class="portfolio-item">
                  <img src="assets/images/gallery/qonnections/03.jpg" alt="">
                  <div class="portfolio-overlay">
                      <h4 class="text-white">
                          <a href="#"> Juliane & Michael </a>
                      </h4>
                      <span class="text-white">
                      <a href="#"> Qonnections 2018 </a>
                      </span>
                  </div>
                  <a class="popup portfolio-img" href="assets/images/gallery/qonnections/03.jpg">
                      <i class="fa fa-arrows-alt"></i>
                  </a>
              </div>
          </div>
          <div class="grid-item web-design">
              <div class="portfolio-item">
                  <img src="assets/images/gallery/qonnections/04.jpg" alt="">
                  <div class="portfolio-overlay">
                      <h4 class="text-white">
                          <a href="#"> Lance & Konrad </a>
                      </h4>
                      <span class="text-white">
                      <a href="#"> Qonnections 2018 </a>
                      </span>
                  </div>
                  <a class="popup portfolio-img" href="assets/images/gallery/qonnections/04.jpg">
                      <i class="fa fa-arrows-alt"></i>
                  </a>
              </div>
          </div>
          <div class="grid-item photography illustration">
              <div class="portfolio-item">
                  <img src="assets/images/gallery/qonnections/05.jpg" alt="">
                  <div class="portfolio-overlay">
                      <h4 class="text-white">
                          <a href="#"> Check e-mails.... </a>
                      </h4>
                      <span class="text-white">
                      <a href="#"> Qonnections 2018 </a>
                      </span>
                  </div>
                  <a class="popup portfolio-img" href="assets/images/gallery/qonnections/05.jpg">
                      <i class="fa fa-arrows-alt"></i>
                  </a>
              </div>
          </div>
         
          <div class="grid-item web-design">
              <div class="portfolio-item">
                  <img src="assets/images/gallery/qonnections/07.jpg" alt="">
                  <div class="portfolio-overlay">
                      <h4 class="text-white">
                          <a href="#"> Mr. Nagler is speaking </a>
                      </h4>
                      <span class="text-white">
                      <a href="#"> Qonnections 2018 </a>
                      </span>
                  </div>
                  <a class="popup portfolio-img" href="assets/images/gallery/qonnections/07.jpg">
                      <i class="fa fa-arrows-alt"></i>
                  </a>
              </div>
          </div>
          <div class="grid-item web-design">
              <div class="portfolio-item">
                  <img src="assets/images/gallery/qonnections/08.jpg" alt="">
                  <div class="portfolio-overlay">
                      <h4 class="text-white">
                          <a href="#"> We are on fire... </a>
                      </h4>
                      <span class="text-white">
                          <a href="#"> Qonnections 2018 </a>
                      </span>
                  </div>
                  <a class="popup portfolio-img" href="assets/images/gallery/qonnections/08.jpg">
                      <i class="fa fa-arrows-alt"></i>
                  </a>
              </div>
          </div>
          <div class="grid-item web-design">
              <div class="portfolio-item">
                  <img src="assets/images/gallery/qonnections/09.jpg" alt="">
                  <div class="portfolio-overlay">
                      <h4 class="text-white">
                          <a href="#"> A great day! </a>
                      </h4>
                      <span class="text-white">
                      <a href="#"> Qonnections 2018 </a>
                      </span>
                  </div>
                  <a class="popup portfolio-img" href="assets/images/gallery/qonnections/09.jpg">
                      <i class="fa fa-arrows-alt"></i>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>