<div class="se"></div>
<app-pagetitle path="downloads " title="Pricing infos" subtitle="Sense Excel & Sense Excel Reporting" imageurl="assets/images/media/sense-logos/pricing-info.png"></app-pagetitle>
<section id="price" class="page-section-ptb white-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="section-title text-center mb-80">
                    <h6>Choose From 2 Flexible Deployment Options </h6>
                    <h2 class="title-effect">Sense Excel / Sense Excel
                        <span class="theme-color">Reporting</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 bounceInLeft wow" style="visibility: visible; animation-name: bounceInLeft;">
                <div class="pricing-table">
                    <div class="pricing-top">
                        <div class="pricing-title">
                            <h1 class="mb-15">Sense Excel </h1>
                            <h4>Qlik Sense Add-On for MS Excel<br><br>
                            </h4>
                            <p>Sense Excel combines the flexibility of Microsoft Excel with the power, speed and
                                governance
                                of the Qlik Sense Business Intelligence Platform. Sense Excel is easy to implement
                                and does not require any additional hardware.
                                <br>
                                <br>
                            </p>

                        </div>
                        <div class="pricing-prize text-left">
                            <p>
                                <small>PRICED FROM:</small>
                            </p>
                            <h4> 2.320€ ($2,800)
                                <br>
                                <small>per year / includes 5 User Cals</small>
                            </h4>
                        </div>
                      
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 bounceInRight wow" style="visibility: visible; animation-name: bounceInRight;">
                <div class="pricing-table">
                    <div class="pricing-top">
                        <div class="pricing-title">
                            <h1 class="mb-15">Sense Excel
                                <span class="theme-color">Reporting</span>
                            </h1>
                            <h4>Automated Report Scheduling and Distribution for Sense Excel</h4>
                            <p>Sense Excel Reporting provides information tailored to the specific needs of groups and
                                individual users in your organization. Easily create reports using the familiar MS
                                Excel front-end and automatically schedule and distribute them to any number of
                                recipients
                                according to your existing Qlik authorization strategies.
                            </p>
                        </div>
                        <div class="pricing-prize text-left">
                            <p>
                                <small>PRICED FROM:</small>
                            </p>
                            <h4> 2.900€ ($3,500)
                                <br>
                                <small>per year / includes 5 User Cals</small>
                            </h4>
                           
                        </div>
                     
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>
<app-mauticform1></app-mauticform1>
<app-download-fullpackage></app-download-fullpackage>