<app-pagetitle path="Next webinar" title="NEXT WEBINAR" subtitle="register now" imageurl="assets/images/media/sense-logos/downloads.png"></app-pagetitle>
<section class="contact-4 page-section-ptb clearfix o-hidden">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 sm-mb-30">
              <blockquote class="blockquote quote pl-0">
                    What Exactly Is a Webinar, Anyway?
              </blockquote>
              <p>A webinar is a live, web-based video conference that uses the internet to connect the individual (or multiple individuals) hosting the webinar to an audience of viewers and listeners from all over the world. Hosts can show themselves speaking, switch to their computer screens for slideshows or demonstrations and even invite guests from other locations to co-host the webinar with them.</p>

            </div>
            <div class="col-lg-6">
              <div class="section-title"> 
                <h6>with Juliane Tschierske</h6>
                <h2 class="title">NEXT WEBINAR</h2>
                <p class="mb-50">Understanding Sense Excel & Sense Excel Reporting</p>
              </div>
              <div class="share clearfix mt-10">
                    <script type="text/javascript">
                        /** This section is only needed once per page if manually copying **/
                        if (typeof MauticSDKLoaded == 'undefined') {
                            var MauticSDKLoaded = true;
                            var head            = document.getElementsByTagName('head')[0];
                            var script          = document.createElement('script');
                            script.type         = 'text/javascript';
                            script.src          = 'https://m.sense2go.net/media/js/mautic-form.js';
                            script.onload       = function() {
                                MauticSDK.onLoad();
                            };
                            head.appendChild(script);
                            var MauticDomain = 'https://m.sense2go.net';
                            var MauticLang   = {
                                'submittingMessage': "Please wait..."
                            }
                        }
                    </script>
                    
<div id="mauticform_wrapper_senseexcelwebinar" class="mauticform_wrapper">
        <form autocomplete="false" role="form" method="post" action="https://m.sense2go.net/form/submit?formId=36" id="mauticform_senseexcelwebinar" data-mautic-form="senseexcelwebinar" enctype="multipart/form-data">
            <div class="mauticform-error" id="mauticform_senseexcelwebinar_error"></div>
            <div class="mauticform-message" id="mauticform_senseexcelwebinar_message"></div>
            <div class="mauticform-innerform">
    
                
              <div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">
    
                <div id="mauticform_senseexcelwebinar_csshack" class="mauticform-row mauticform-freehtml mauticform-field-1">
                    <div id="mauticform_input_senseexcelwebinar_csshack" name="mauticform[csshack]" value="" class="mauticform-freehtml">
                        <style>
    .mauticform-message {
    color:#84ba3f;
    }
    </style>
                    </div>
                </div>
    
                <div id="mauticform_senseexcelwebinar_date" class="mauticform-row mauticform-select mauticform-field-2 mauticform-required section-field" data-validate="date" data-validation-type="select">
                    <select id="mauticform_input_senseexcelwebinar_date" name="mauticform[date]" value="" class="mauticform-selectbox">
                        <option value="">please choose your webinar date</option>
                        <option value="2019/01/31 10:00am (CEST)">2019/01/31 10:00am (CEST)</option>
                        <option value="2019/02/28 10:00am (CEST)">2019/02/28 10:00am (CEST)</option>
                        <option value="2019/03/29 10:00am (CEST)">2019/03/29 10:00am (CEST)</option>
                    </select>
                    <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                </div>
    
                <div id="mauticform_senseexcelwebinar_webinaremail" class="mauticform-row mauticform-email mauticform-field-3 mauticform-required section-field" style="margin-top: 20px" data-validate="webinaremail" data-validation-type="email">
                    <input id="mauticform_input_senseexcelwebinar_webinaremail" name="mauticform[webinaremail]" value="" placeholder="Your E-Mail" class="mauticform-input form-control" style="width:75%" type="email">
                    <span class="mauticform-errormsg" style="display: none;">Please fill e-mail...</span>
                </div>
    
                <div id="mauticform_senseexcelwebinar_send" class="mauticform-row mauticform-button-wrapper mauticform-field-4 section-field" style="margin-top: 20px">
                    <button type="submit" name="mauticform[send]" id="mauticform_input_senseexcelwebinar_send" value="" class="mauticform-button btn btn-default button" style="float:left; width:50% ">Sign up for WEBINAR</button>
                </div>
                </div>
            </div>
    
            <input type="hidden" name="mauticform[formId]" id="mauticform_senseexcelwebinar_id" value="36">
            <input type="hidden" name="mauticform[return]" id="mauticform_senseexcelwebinar_return" value="">
            <input type="hidden" name="mauticform[formName]" id="mauticform_senseexcelwebinar_name" value="senseexcelwebinar">
    
            </form>
    </div>
    
                    <!-- <div id="mauticform_wrapper_senseexcelwebinar" class="mauticform_wrapper">
                        <form autocomplete="false" role="form" method="post" action="https://m.sense2go.net/form/submit?formId=36"
                            id="mauticform_senseexcelwebinar" data-mautic-form="senseexcelwebinar" enctype="multipart/form-data"
                            target="mauticiframe_senseexcelwebinar">
                            <div class="mauticform-error" id="mauticform_senseexcelwebinar_error"></div>
                            <div class="mauticform-message" id="mauticform_senseexcelwebinar_message"></div>
                            <div class="mauticform-innerform">
                                <div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">
                                    <div id="mauticform_senseexcelwebinar_csshack" class="mauticform-row mauticform-freehtml mauticform-field-1">
                                        <div id="mauticform_input_senseexcelwebinar_csshack" name="mauticform[csshack]" value=""
                                            class="mauticform-freehtml">
                                            <style>.mauticform-message {color:#93c020;}</style>
                                        </div>
                                    </div>
                                    <div id="mauticform_senseexcelwebinar_date" class="mauticform-row mauticform-select mauticform-field-2 mauticform-required section-field"
                                        data-validate="date" data-validation-type="select"> 
                                       
                                        <select id="mauticform_input_senseexcelwebinar_date"
                                            name="mauticform[date]" value="" class="mauticform-selectbox">
                                            <option value="">please choose your webinar date</option>
                                            <option value="2018/11/30 10:00am (CEST)">2018/11/30 10:00am (CEST)</option>
                                            <option value="2018/12/12 10:00am (CEST)">2018/12/12 10:00am (CEST)</option>
                                        </select>
                                         <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                                    </div>
                                    <div id="mauticform_senseexcelwebinar_webinaremail" class="mauticform-row mauticform-email mauticform-field-3 mauticform-required section-field"
                                        style="margin-top: 20px" data-validate="webinaremail" data-validation-type="email"> <input
                                            id="mauticform_input_senseexcelwebinar_webinaremail" name="mauticform[webinaremail]"
                                            value="" placeholder="Your E-Mail" class="mauticform-input form-control" style="width:75%"
                                            type="email"> <span class="mauticform-errormsg" style="display: none;">Please fill
                                            e-mail...</span> </div>
                                    <div id="mauticform_senseexcelwebinar_send" class="mauticform-row mauticform-button-wrapper mauticform-field-4 section-field"
                                        style="margin-top: 20px"> <button type="submit" name="mauticform[send]" id="mauticform_input_senseexcelwebinar_send"
                                            value="" class="mauticform-button btn btn-default button" style="float:left; width:50% ">Sign
                                            up for WEBINAR</button> </div>
                                </div>
                            </div> <input type="hidden" name="mauticform[formId]" id="mauticform_senseexcelwebinar_id" value="36">
                            <input type="hidden" name="mauticform[return]" id="mauticform_senseexcelwebinar_return" value="">
                            <input type="hidden" name="mauticform[formName]" id="mauticform_senseexcelwebinar_name" value="senseexcelwebinar">
                            <input type="hidden" name="mauticform[messenger]" id="mauticform_senseexcelwebinar_messenger" value="1">
                        </form>
                    </div> -->
                </div>
            </div>
          </div> 
        </div>
      </section>

      
<section class="page-section-ptb">
        <div class="container">
          <div class="row">
             <div class="col-12">
               <div id='calendar'></div>
             </div>
          </div>
        </div>
      </section>
