.form-control {
    border-radius: 3px;
    font-size: 13px;
    height: auto;
    line-height: 1.33333;
    padding: 15px 15px 15px 20px;
    background: #f6f7f8;
    color: #323232;
    border: 0px solid transparent;
    box-shadow: none;
    margin-bottom: 20px;
}