<section id="trial-license" class="page-section-ptb position-re black-bg">
  <div class="container">
    <div class="col-sm-12">

      <script type="text/javascript">
        /** This section is only needed once per page if manually copying **/
        if (typeof MauticSDKLoaded == 'undefined') {
          var MauticSDKLoaded = true;
          var head = document.getElementsByTagName('head')[0];
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.src = 'https://m.sense2go.net/media/js/mautic-form.js';
          script.onload = function () {
            MauticSDK.onLoad();
          };
          head.appendChild(script);
          var MauticDomain = 'https://m.sense2go.net';
          var MauticLang = {
            'submittingMessage': "Please wait..."
          }
        }
      </script>
      <!--
        mautic form here
      -->


      <div id="mauticform_wrapper_getasenseexceltriallicense" class="mauticform_wrapper contact-form">
        <form autocomplete="false" role="form" method="post" action="https://m.sense2go.net/form/submit?formId=48"
          id="mauticform_getasenseexceltriallicense" data-mautic-form="getasenseexceltriallicense"
          enctype="multipart/form-data">
          <div class="mauticform-error" id="mauticform_getasenseexceltriallicense_error"></div>
          <div class="mauticform-message" id="mauticform_getasenseexceltriallicense_message"></div>
          <div class="mauticform-innerform">


            <div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">
              <div class="row">
                <div id="mauticform_getasenseexceltriallicense_firstname"
                  class="mauticform-row mauticform-text mauticform-field-1 mauticform-required section-field row"
                  data-validate="firstname" data-validation-type="text">
                  <input id="mauticform_input_getasenseexceltriallicense_firstname" name="mauticform[firstname]"
                    value="" placeholder="Firstname*" class="mauticform-input form-control" type="text">
                  <span class="mauticform-errormsg" style="display: none;">Please fill the first name.</span>
                </div>

                <div id="mauticform_getasenseexceltriallicense_lastname"
                  class="mauticform-row mauticform-text mauticform-field-2 mauticform-required section-field row"
                  data-validate="lastname" data-validation-type="text">
                  <input id="mauticform_input_getasenseexceltriallicense_lastname" name="mauticform[lastname]" value=""
                    placeholder="Lastname*" class="mauticform-input form-control" type="text">
                  <span class="mauticform-errormsg" style="display: none;">Please fill the last name.</span>
                </div>

                <div id="mauticform_getasenseexceltriallicense_company"
                  class="mauticform-row mauticform-text mauticform-field-3 mauticform-required section-field row"
                  data-validate="company" data-validation-type="text">
                  <input id="mauticform_input_getasenseexceltriallicense_company" name="mauticform[company]" value=""
                    placeholder="Company*" class="mauticform-input form-control" type="text">
                  <span class="mauticform-errormsg" style="display: none;">Please fill company name.</span>
                </div>

                <div id="mauticform_getasenseexceltriallicense_email"
                  class="mauticform-row mauticform-text mauticform-field-4 mauticform-required section-field row"
                  data-validate="email" data-validation-type="text">
                  <small>We will send the license to this email.</small>
                  <input id="mauticform_input_getasenseexceltriallicense_email" name="mauticform[email]" value=""
                    placeholder="Email*" class="mauticform-input form-control" type="text">
                  <span class="mauticform-errormsg" style="display: none;">Please fill e-mail...</span>

                </div>
                <div id="mauticform_getasenseexceltriallicense_qliksensekey"
                  class="mauticform-row mauticform-text mauticform-field-5 mauticform-required section-field row"
                  data-validate="qliksensekey" data-validation-type="text">
                  <small>We match your Qlik Sense key</small>
                  <input id="mauticform_input_getasenseexceltriallicense_qliksensekey" name="mauticform[qliksensekey]"
                    value="" placeholder="Your Qlik Sense server key required!" class="mauticform-input form-control"
                    type="text">
                  <span class="mauticform-errormsg" style="display: none;">Please fill your Qlik Sense key here!</span>

                </div>
                <div id="mauticform_getasenseexceltriallicense_triallicensedate"
                  class="mauticform-row mauticform-date mauticform-field-6 section-field row">
                  <small>When should the trial period start?</small>
                  <input id="mauticform_input_getasenseexceltriallicense_triallicensedate"
                    name="mauticform[triallicensedate]" value="" placeholder="Trial license start date"
                    class="mauticform-input form-control" type="date">
                  <span class="mauticform-errormsg" style="display: none;"></span>

                </div>
              </div>

              <div class="row">

                <div id="mauticform_getasenseexceltriallicense_get_a_trial_license"
                  class="mauticform-row mauticform-button-wrapper mauticform-field-7 row">
                  <button type="submit" name="mauticform[get_a_trial_license]"
                    id="mauticform_input_getasenseexceltriallicense_get_a_trial_license" value=""
                    class="mauticform-button button">Get a trial license</button>
                </div>
              </div>



            </div>
          </div>

          <input type="hidden" name="mauticform[formId]" id="mauticform_getasenseexceltriallicense_id" value="48">
          <input type="hidden" name="mauticform[return]" id="mauticform_getasenseexceltriallicense_return" value="">
          <input type="hidden" name="mauticform[formName]" id="mauticform_getasenseexceltriallicense_name"
            value="getasenseexceltriallicense">

        </form>
      </div>


    </div>
  </div>
</section>
<section class="page-section-ptb  bg-overlay-black-60 parallax">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 sm-mb-30">
        <div class="counter left-icon text-white">
          <span class="icon ti-user theme-color" aria-hidden="true"></span>
          <span class="timer" [attr.data-to]="coffee" data-speed="10000">{{coffee}}</span>
          <label>ORDERED COFFEE'S</label>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 sm-mb-30">
        <div class="counter left-icon text-white">
          <span class="icon ti-help-alt theme-color" aria-hidden="true"></span>
          <span class="timer" [attr.data-to]="questions" data-speed="10000">{{ questions}}</span>
          <label>QUESTIONS ANSWERED</label>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 xs-mb-30">
        <div class="counter left-icon text-white">
          <span class="icon ti-check-box theme-color" aria-hidden="true"></span>
          <span class="timer" [attr.data-to]="projects"  data-speed="10000">{{projects}}</span>
          <label>COMPLETED PROJECTS</label>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="counter left-icon text-white">
          <span class="icon ti-face-smile theme-color" aria-hidden="true"></span>
          <span class="timer" [attr.data-to]="clients" data-speed="10000">{{clients}}</span>
          <label>HAPPY CLIENTS</label>
        </div>
      </div>
    </div>
  </div>
</section>