        <!--=================================-->
        <section id="Webinar" class="page-section-ptb black-bg">
          <div class="container">
              <div class="row  page-section-ptb">
                  <div class="col-lg-6 col-md-6 col-sm-12 port-information clearfix">
                      <div class="port-title">
                          <h3 class="mb-30 text-white">NEXT RELEASES</h3>
                      </div>

                      <div class="tab round">
                          <ul class="nav nav-tabs">
                              <!-- <li class="active">
                                  <a href="#nr-tab-1" data-toggle="tab">
                                      <script>GetFullYear(); GetCurrentMonth(1); </script>
                                  </a>
                              </li> -->
                              <!-- <li>
                                  <a href="#nr-tab-2" data-toggle="tab">
                                      <script>GetFullYear(); GetCurrentMonth(2); </script>
                                  </a>
                              </li>
                              <li>
                                  <a href="#nr-tab-3" data-toggle="tab">
                                      <script>GetFullYear(); GetCurrentMonth(3); </script>
                                  </a>
                              </li> -->

                          </ul>
                          <div class="tab-content">
                              <div class="tab-pane fade in active" id="nr-tab-1">
                                  <div class="port-meta clearfix">
                                      <ul class="list-unstyled">
                                          <li>
                                              <b>Date:</b>
                                              <span class=" text-white"><script>GetFullYear(); GetCurrentMonth(1); </script>/31</span>
                                          </li>
                                      </ul>
                                      <div class="table-responsive ">

                                      <a href="https://github.com/senseexcel/senseexcel/milestone/10">https://github.com/senseexcel/senseexcel/milestone/<script>GetCurrentMonth(1); </script></a><br>
                                      <a href="https://github.com/senseexcel/senseexcel-reporting/milestone/10">https://github.com/senseexcel/senseexcel-reporting/milestone/<script>GetCurrentMonth(1); </script></a>



                                                  <!-- <table class="tableinfo table table-bordered table-3 text-center table-striped">
                                                      <thead>
                                                          <tr>
                                                              <th colspan="2">Sense Excel</th>
                                                          </tr>
                                                          <tr>
                                                              <th>Type</th>
                                                              <th>Description</th>
                                                  
                                                          </tr>
                                                      </thead>
                                                      <tbody>
                                                          <tr>
                                                              <td>enhancemnent</td>
                                                              <td>New Support Process: Emails</td>
                                                          </tr>
                                                          <tr>
                                                              <td>enhancemnent</td>
                                                              <td>new UDF SenseAttribute </td>
                                                          </tr>
                                                          <tr>
                                                              <td>enhancemnent</td>
                                                              <td>Open Template from Attached File / Content</td>
                                                          </tr>
                                                          <tr>
                                                              <td>enhancemnent</td>
                                                              <td>Save int APP</td>
                                                          </tr>
                                                          <tr>
                                                              <td>enhancemnent</td>
                                                              <td>Debug Load</td>
                                                          </tr>
                                                      </tbody>
                                                  </table>
                                                  <div class="divider outset"></div>
                                                  <table class="tableinfo table table-bordered table-3 text-center table-striped">
                                                      <thead>
                                                          <tr>
                                                              <th colspan="2">Sense Excel REPORTING</th>
                                                          </tr>
                                                          <tr>
                                                              <th>Type</th>
                                                              <th>Description</th>
                                                  
                                                          </tr>
                                                      </thead>
                                                      <tbody>
                                                          <tr>
                                                              <td>enhancemnent</td>
                                                              <td>Linux Docker support</td>
                                                          </tr>
                                                          <tr>
                                                              <td>feature</td>
                                                              <td>*Report task scheduler - as an Qlik Sense webinterface mashup</td>
                                                          </tr>
                                                      </tbody>
                                                  </table>
                                                  <p>
                                                      *prior notice
                                                  </p> -->
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="nr-tab-2">
                                  <div class="port-meta clearfix">
                                      <ul class="list-unstyled">
                                          <li>
                                              <b>Date:</b>
                                              <span class=" text-white">
                                                  <script>GetFullYear(); GetCurrentMonth(2); </script>/30</span>
                                          </li>

                                         
                                      </ul>
                                          <div class="table-responsive ">
                                              <!-- <table class="tableinfo table table-bordered table-3 text-center table-striped">
                                                  <thead>
                                                      <tr>
                                                          <th colspan="2">Sense Excel</th>
                                                      </tr>
                                                      <tr>
                                                          <th>Type</th>
                                                          <th>Description</th>
                                              
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr>
                                                          <td>enhancemnent</td>
                                                          <td>Automatic Version Updates / Info</td>
                                                      </tr>
                                                      <tr>
                                                          <td>enhancemnent</td>
                                                          <td>Sense Table Formatting</td>
                                                      </tr>
                                                  </tbody>
                                              </table> -->
                                              <div class="divider outset"></div>
                                              <!-- <table class="tableinfo table table-bordered table-3 text-center table-striped">
                                                  <thead>
                                                      <tr>
                                                          <th colspan="2">Sense Excel</th>
                                                      </tr>
                                                      <tr>
                                                          <th>Type</th>
                                                          <th>Description</th>
                                              
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr>
                                                          <td>enhancemnent</td>
                                                          <td>auto update</td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                                          <div class="divider outset"></div>
                                              <table class="tableinfo table table-bordered table-3 text-center table-striped">
                                                  <thead>
                                                      <tr>
                                                          <th colspan="2">Sense Excel REPORTING</th>
                                                      </tr>
                                                      <tr>
                                                          <th>Type</th>
                                                          <th>Description</th>
                                              
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr>
                                                          <td>enhancemnent</td>
                                                          <td>Linux Docker support</td>
                                                      </tr>
                                                      <tr>
                                                          <td>feature</td>
                                                          <td>*Report task scheduler - as an Qlik Sense webinterface mashup</td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                                              <p>
                                                  *prior notice
                                              </p> -->
                                          </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="nr-tab-3">
                                  <div class="port-meta clearfix">
                                      <ul class="list-unstyled">
                                          <li>
                                              <b>Date:</b>
                                              <span class=" text-white">
                                                  <script>GetFullYear(); GetCurrentMonth(3); </script>/30</span>
                                          </li>

                                         
                                      </ul>
                                     <p>---  </p>>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">

                      <div class="port-title">
                          <h3 class="mb-30 text-white">NEXT WEBINAR</h3>
                      </div>
                      <div class="tab round">
                          <ul class="nav nav-tabs">
                              <li class="active">
                                  <a href="#nw-tab-1" data-toggle="tab">
                                      2018/10
                                      <script>GetFullYear(); GetCurrentMonth(1); </script>
                                  </a>
                              </li>
                              <li>
                                  <a href="#nw-tab-2" data-toggle="tab">
                                      2018/11
                                      <script>GetFullYear(); GetCurrentMonth(2); </script>
                                  </a>
                              </li>
                              <li>
                                  <a href="#nw-tab-3" data-toggle="tab">
                                      2018/12
                                      <script>GetFullYear(); GetCurrentMonth(3); </script>
                                  </a>
                              </li>

                          </ul>
                          <div class="tab-content">
                              <div class="tab-pane fade in active" id="nw-tab-1">
                                  <div class="port-meta clearfix">
                                      <ul class="list-unstyled">
                                          <li>
                                              <b>Date:</b>
                                              <span class=" text-white"><script>GetFullYear(); GetCurrentMonth(1); </script>/26 10:00am</span>
                                          </li>
                                          <li>
                                              <b>Telco: </b>
                                              <span class=" text-white">Please sign up!</span>
                                              <br>
                                      
                                          </li>
                                          <li>
                                              <b>PIN: </b>
                                              <span class=" text-white">Please sign up!</span>
                                          </li>
                                      
                                      </ul>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="nw-tab-2">
                                  <div class="port-meta clearfix">
                                     
                                      <ul class="list-unstyled">
                                          <li>
                                              <b>Date:</b>
                                              <span class=" text-white"><script>GetFullYear(); GetCurrentMonth(2); </script>/30 10:00am</span>
                                          </li>
                                          <li>
                                              <b>Telco: </b>
                                              <span class=" text-white">Please sign up!</span>
                                              <br>
                                      
                                          </li>
                                          <li>
                                              <b>PIN: </b>
                                              <span class=" text-white">Please sign up!</span>
                                          </li>
                                      
                                      </ul>
                                
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="nw-tab-3">
                                  <div class="port-meta clearfix">
                                  <ul class="list-unstyled">
                                      <li>
                                          <b>Date:</b>
                                          <span class=" text-white"><script>GetFullYear(); GetCurrentMonth(3); </script>/12 10:00am</span>
                                      </li>
                                      <li>
                                          <b>Telco: </b>
                                          <span class=" text-white">Please sign up!</span>
                                          <br>
                                  
                                      </li>
                                      <li>
                                          <b>PIN: </b>
                                          <span class=" text-white">Please sign up!</span>
                                      </li>
                                  
                                  </ul>
                                  </div>
                              </div>

                          </div>
                      </div>
                      <div class="share clearfix mt-10">
                          <script type="text/javascript">
                              /** This section is only needed once per page if manually copying **/
                              if (typeof MauticSDKLoaded == 'undefined') {
                                  var MauticSDKLoaded = true;
                                  var head = document.getElementsByTagName('head')[0];
                                  var script = document.createElement('script');
                                  script.type = 'text/javascript';
                                  script.src = 'https://m.sense2go.net/media/js/mautic-form.js';
                                  script.onload = function () {
                                      MauticSDK.onLoad();
                                  };
                                  head.appendChild(script);
                                  var MauticDomain = 'https://m.sense2go.net';
                                  var MauticLang = {
                                      'submittingMessage': "Please wait..."
                                  }
                              }
                          </script>
                          <script type="text/javascript" src="//m.sense2go.net/form/generate.js?id=36"></script>
<!-- 
                          <div id="mauticform_wrapper_senseexcelwebinar" class="mauticform_wrapper">
                              <form autocomplete="false" role="form" method="post" action="https://m.sense2go.net/form/submit?formId=36" id="mauticform_senseexcelwebinar"
                                  data-mautic-form="senseexcelwebinar" enctype="multipart/form-data">
                                  <div class="mauticform-error" id="mauticform_senseexcelwebinar_error"></div>
                                  <div class="mauticform-message theme-color" id="mauticform_senseexcelwebinar_message"></div>
                                  <div class="mauticform-innerform">


                                      <div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">

                                          <div id="mauticform_senseexcelwebinar_webinaremail" data-validate="webinaremail" data-validation-type="email" class="mauticform-row mauticform-email mauticform-field-1 mauticform-required section-field">
                                              <input id="mauticform_input_senseexcelwebinar_webinaremail" name="mauticform[webinaremail]" value="" placeholder="Your E-Mail"
                                                  class="mauticform-input form-control" type="email" style="width:75%" />
                                              <span class="mauticform-errormsg" style="display: none;">Please fill e-mail...</span>
                                          </div>

                                          <div id="mauticform_senseexcelwebinar_send" style="margin-top: 20px" class="mauticform-row mauticform-button-wrapper mauticform-field-2 section-field">
                                              <button type="submit" name="mauticform[send]" id="mauticform_input_senseexcelwebinar_send" name="mauticform[send]" value=""
                                                  class="mauticform-button btn btn-default button" value="1" style="float:left; width:50% ">Sign up for WEBINAR</button>
                                                 
                                          </div>
                                      </div>
                                  </div>

                                  <input type="hidden" name="mauticform[formId]" id="mauticform_senseexcelwebinar_id" value="36" />
                                  <input type="hidden" name="mauticform[return]" id="mauticform_senseexcelwebinar_return" value="" />
                                  <input type="hidden" name="mauticform[formName]" id="mauticform_senseexcelwebinar_name" value="senseexcelwebinar" />

                              </form>
                          </div> -->

                         
                      </div>
                  </div>
              </div>
          </div>



      </section>