
<app-pagetitle path="downloads " title="Download packages" subtitle="Of Sense Excel & Sense Excel Reporting" imageurl="assets/images/media/sense-logos/downloads.png"></app-pagetitle>
<section class="contact-4 page-section-ptb clearfix o-hidden">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 sm-mb-30">
          <blockquote class="blockquote quote pl-0">
            The trouble with programmers is that you can never  too late. 
          </blockquote>
          <p>Do you want make your valuable insights available to others?</p>
          <p>Easily share your valuable visualizations, insights
              and analysis with colleagues using the Sense Excel
              REPORTING Platform for Qlik® Sense. Continue
              using the familiar Microsoft® Excel front end you
              rely on everyday while simultaneously expanding
              your audience in an automated fashion. </p>
        </div>
        <div class="col-lg-6">
          <div class="section-title"> 
            <h6>Free download for testing!</h6>
            <h2 class="title">You want a demo?</h2>
            <p class="mb-50">Download the best and stable Sense Excel versions ever!</p>
          </div>
          <script type="text/javascript">
            /** This section is only needed once per page if manually copying **/
            if (typeof MauticSDKLoaded == 'undefined') {
                var MauticSDKLoaded = true;
                var head            = document.getElementsByTagName('head')[0];
                var script          = document.createElement('script');
                script.type         = 'text/javascript';
                script.src          = 'https://m.sense2go.net/media/js/mautic-form.js';
                script.onload       = function() {
                    MauticSDK.onLoad();
                };
                head.appendChild(script);
                var MauticDomain = 'https://m.sense2go.net';
                var MauticLang   = {
                    'submittingMessage': "Please wait..."
                }
            }
        </script>

<div id="mauticform_wrapper_senseexceldownload" class="mauticform_wrapper">
  <form autocomplete="false" role="form" method="post" action="https://m.sense2go.net/form/submit?formId=44" id="mauticform_senseexceldownload"
    data-mautic-form="senseexceldownload" enctype="multipart/form-data">
    <div class="mauticform-error" id="mauticform_senseexceldownload_error"></div>
    <div class="mauticform-message" id="mauticform_senseexceldownload_message"></div>
    <div class="mauticform-innerform contact-form clearfix">
      <div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">
        <div id="mauticform_senseexceldownload_classsectionfield" class="mauticform-row mauticform-text mauticform-field-1 mauticform-required section-field"
          data-validate="classsectionfield" data-validation-type="text">
          <input id="mauticform_input_senseexceldownload_classsectionfield" name="mauticform[classsectionfield]" value=""
            placeholder="Firstname" class="mauticform-input form-control" type="text">
          <span class="mauticform-errormsg" style="display: none;">Please fill</span>
        </div>
        <div id="mauticform_senseexceldownload_webmail" class="mauticform-row mauticform-email mauticform-field-1 mauticform-required section-field"
          data-validate="webmail" data-validation-type="email">
          <input id="mauticform_input_senseexceldownload_webmail" name="mauticform[webmail]" value="Email" placeholder="Email"
            class="mauticform-input form-control" type="email">
          <span class="mauticform-errormsg" style="display: none;">Please fill Email.</span>
        </div>
        <div id="mauticform_senseexceldownload_classsectionfield_textare1" class="mauticform-row mauticform-tel mauticform-field-2 section-field">
            <input id="mauticform_input_senseexceldownload_classsectionfield_textare1" name="mauticform[classsectionfield_textare1]" value="" placeholder="Phone" class="mauticform-input form-control" type="tel">
            <span class="mauticform-errormsg" style="display: none;"></span>
        </div>
        <div id="mauticform_senseexceldownload_classsectionfield_textare" class="mauticform-row mauticform-text mauticform-field-3 section-field textarea">
          <textarea id="mauticform_input_senseexceldownload_classsectionfield_textare" name="mauticform[classsectionfield_textare]"
            class="mauticform-textarea input-message form-control"></textarea>
          <span class="mauticform-errormsg" style="display: none;"></span>
        </div>
        <div id="mauticform_senseexceldownload_get_demo_download" class="mauticform-row mauticform-button-wrapper mauticform-field-2 submit-button">
          <button type="submit" name="mauticform[get_demo_download]" id="mauticform_input_senseexceldownload_get_demo_download"
            value="" class="mauticform-button button">Get your download package <i class="fa fa-download"></i></button>
        </div>
      </div>
    </div>
    <input type="hidden" name="mauticform[formId]" id="mauticform_senseexceldownload_id" value="44">
    <input type="hidden" name="mauticform[return]" id="mauticform_senseexceldownload_return" value="">
    <input type="hidden" name="mauticform[formName]" id="mauticform_senseexceldownload_name" value="senseexceldownload">
  </form>
</div>


</div>
</div>
     
    </div>
  </section>
<section class="page-section-ptb theme-bg">
  <div class="container">
    <div class="row">
      <div class="row mt-10">
        <div class="col-lg-12 col-md-12 text-center">
          <h4 class="">Developer Toolkits and more</h4>
          <h6 class="text-white mb-30">You want to build your own use cases?<br />Please feel free to use our
            NuGet-packages and GitHub-repositories. </h6>
        </div>
        <div class="col-lg-4 col-md-4 sm-mb-30">
          <div class="card">
            <div class="card-header">
              (Beta Version)
            </div>
            <div class="card-body">
              <h5 class="card-title">Sense Excel Reporting Engine</h5>
              <p class="card-text">The Sense Excel Reporting Engine as
                Docker Image or as library for your .NET project.
              </p>
              <div class="mb-10">
                <a href="https://m.sense2go.net/r/9ab885e3adc5782d82a7878d5?ct=YTo1OntzOjY6InNvdXJjZSI7YToyOntpOjA7czoxNDoiY2FtcGFpZ24uZXZlbnQiO2k6MTtpOjI3O31zOjU6ImVtYWlsIjtpOjU2O3M6NDoic3RhdCI7czoyMjoiNWJlMmU0MzFiNmM1NDQwNjcxNzA1MiI7czo0OiJsZWFkIjtpOjg3MzY7czo3OiJjaGFubmVsIjthOjE6e3M6NToiZW1haWwiO2k6NTY7fX0%3D&"
                  class="btn btn-block btn-secondary">Get SER / Docker</a>
              </div>
              <div>
                <a href="https://m.sense2go.net/r/d1fe449c23adfe99ceb3d839d?ct=YTo1OntzOjY6InNvdXJjZSI7YToyOntpOjA7czoxNDoiY2FtcGFpZ24uZXZlbnQiO2k6MTtpOjI3O31zOjU6ImVtYWlsIjtpOjU2O3M6NDoic3RhdCI7czoyMjoiNWJlMmU0MzFiNmM1NDQwNjcxNzA1MiI7czo0OiJsZWFkIjtpOjg3MzY7czo3OiJjaGFubmVsIjthOjE6e3M6NToiZW1haWwiO2k6NTY7fX0%3D&"
                  class="btn btn-block btn-info">Get SER / NuGet</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 sm-mb-30">
          <div class="card">
            <div class="card-header">
              (Current Version)
            </div>
            <div class="card-body">
              <h5 class="card-title">Enigma.net</h5>
              <p class="card-text">
                All what you for the best Qlik Development!<br>Use automated Classes for the Qlik EngineAPI.
              </p>
              <div class="mb-10">
                <a href="https://m.sense2go.net/r/520db59dbbda8a23d94b712ad?ct=YTo1OntzOjY6InNvdXJjZSI7YToyOntpOjA7czoxNDoiY2FtcGFpZ24uZXZlbnQiO2k6MTtpOjI3O31zOjU6ImVtYWlsIjtpOjU2O3M6NDoic3RhdCI7czoyMjoiNWJlMmU0MzFiNmM1NDQwNjcxNzA1MiI7czo0OiJsZWFkIjtpOjg3MzY7czo3OiJjaGFubmVsIjthOjE6e3M6NToiZW1haWwiO2k6NTY7fX0%3D&"
                  class="button black btn-block">Get enigma.net / GitHub</a>
              </div>
              <div>
                <a href="https://m.sense2go.net/r/b283a14d4e3a58569bc450b4b?ct=YTo1OntzOjY6InNvdXJjZSI7YToyOntpOjA7czoxNDoiY2FtcGFpZ24uZXZlbnQiO2k6MTtpOjI3O31zOjU6ImVtYWlsIjtpOjU2O3M6NDoic3RhdCI7czoyMjoiNWJlMmU0MzFiNmM1NDQwNjcxNzA1MiI7czo0OiJsZWFkIjtpOjg3MzY7czo3OiJjaGFubmVsIjthOjE6e3M6NToiZW1haWwiO2k6NTY7fX0%3D&"
                  class="btn btn-block btn-info">Get enigma.net / NuGet </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="card">
            <div class="card-header">
              (Current Version)
            </div>
            <div class="card-body">
              <h5 class="card-title">Sense Excel Reporting Distribute</h5>
              <p class="card-text">Distribution Service for Sense Excel Reporting Engine (File, Hub, Mail)</p>
              <div class="mb-10">
                <a href="https://m.sense2go.net/r/910e7bc76d4afba3528f63001?ct=YTo1OntzOjY6InNvdXJjZSI7YToyOntpOjA7czoxNDoiY2FtcGFpZ24uZXZlbnQiO2k6MTtpOjI3O31zOjU6ImVtYWlsIjtpOjU2O3M6NDoic3RhdCI7czoyMjoiNWJlMmU0MzFiNmM1NDQwNjcxNzA1MiI7czo0OiJsZWFkIjtpOjg3MzY7czo3OiJjaGFubmVsIjthOjE6e3M6NToiZW1haWwiO2k6NTY7fX0%3D&"
                  class="button black btn-block">Get SER Distribute / GitHub</a>
              </div>
              <div>
                <a href="https://m.sense2go.net/r/60d2c422c443d4a2747f64952?ct=YTo1OntzOjY6InNvdXJjZSI7YToyOntpOjA7czoxNDoiY2FtcGFpZ24uZXZlbnQiO2k6MTtpOjI3O31zOjU6ImVtYWlsIjtpOjU2O3M6NDoic3RhdCI7czoyMjoiNWJlMmU0MzFiNmM1NDQwNjcxNzA1MiI7czo0OiJsZWFkIjtpOjg3MzY7czo3OiJjaGFubmVsIjthOjE6e3M6NToiZW1haWwiO2k6NTY7fX0%3D&"
                  class="btn btn-block btn-info">Get SER Distribute / NuGet </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 mt-30">
            <div class="card">
              <div class="card-header">
                (Current Version)
              </div>
              <div class="card-body">
                <h5 class="card-title">On-Demand support for SER </h5>
                <p class="card-text">This tool represents the ondemand support for Sense Excel Reporting.</p>
                <div class="mb-10">
                  <a href="https://m.sense2go.net/r/5496d2b6fbd465ead563699ef?ct=YTo1OntzOjY6InNvdXJjZSI7YToyOntpOjA7czoxNDoiY2FtcGFpZ24uZXZlbnQiO2k6MTtpOjI3O31zOjU6ImVtYWlsIjtpOjU2O3M6NDoic3RhdCI7czoyMjoiNWJlMmU0MzFiNmM1NDQwNjcxNzA1MiI7czo0OiJsZWFkIjtpOjg3MzY7czo3OiJjaGFubmVsIjthOjE6e3M6NToiZW1haWwiO2k6NTY7fX0%3D&"
                    class="button black btn-block">Get SER "on-Demand" / GitHub</a>
                </div>

              </div>
            </div>
          </div>
      </div>
      
    </div>
  </div>
</section>