
<section class="action-box black-bg full-width animate-color-bg">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12">
              <h3>
                  <strong>Download our logo files for </strong> Sense Excel<sup>&reg;</sup> + REPORTING 
                  <!-- <sup>&reg;</sup> -->
              </h3>
              <p>Please feel free to use.</p>
              <a class="button border white" target="_blank" href="https://www.senseexcel.com/download/files/SE-SER-Logos.PNGs.zip">
                  <span>Download files</span>
                  <i class="fa fa-download"></i>
              </a>
          </div>
      </div>
  </div>
</section>