<div class="se"></div>
<app-pagetitle path="Get Demo License" title="Get a 30 days Demo-License" subtitle="Sense Excel All in One"
  imageurl="assets/images/media/sense-logos/SER-HUB.png"></app-pagetitle>
  <section class="blockquote-section testimonial-title page-section-ptb">
      <div class="container">
        <div class="row no-gutter">
          <div class="col-sm-12 text-center">
            <blockquote class="blockquote mb-0">
            Have fun with Microsoft Excel  and your data
            </blockquote>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section-ptb position-re black-bg">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-12">
                    <app-mauticform-get-license></app-mauticform-get-license>
                </div>
            </div>
        </div>
  </section>