<div class="se"></div>
<app-pagetitle path="bi-training" title="BI Training for Sense Excel" subtitle="Learn how use it..."
  imageurl="assets/images/media/sense-logos/screen.png"></app-pagetitle>
<section id="bi-training" class="service white-bg page-section-ptb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h6>The best practice training for you </h6>
          <h2 class="title-effect">BI Training for Sense Excel</h2>
          <p> What will you use the program for?<br>
            Do you have programming knowledge?<br>
            What experiences have you already gained with Qlik?
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="feature-4">
          <span class="icon-pencil" aria-hidden="true"></span>
          <h4>Sense Excel - Training</h4>
          <p class="mt-20">Understandig both powerful sides of Qlik & Sense Excel.
          </p>
          <ul class="list list-unstyled theme-color mt-30">
            <li><i class="fa fa-angle-right"></i> Architecture of Sense Excel</li>
            <li><i class="fa fa-angle-right"></i> What are the design principles </li>
            <li><i class="fa fa-angle-right"></i> communication with Qlik Sense </li>
            <li><i class="fa fa-angle-right"></i> Basics examples</li>
            <li><i class="fa fa-angle-right"></i> How to use "SenseEV" formulas </li>
          </ul>
          <!-- <p class="mt-20">
              Speaker: German / English
          </p> -->
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="feature-4 xs-mt-40">
          <span class="icon-game-controller" aria-hidden="true"></span>
          <h4>SE - Reporting Training</h4>

          <p class="mt-20">Based on Sense Excel Training best practice to create reports </p>
          <ul class="list list-unstyled theme-color mt-30">
            <li><i class="fa fa-angle-right"></i> Create example reporting templates</li>
            <li><i class="fa fa-angle-right"></i> Understandig SMC JSON/YAML script</li>
            <li><i class="fa fa-angle-right"></i> using UI SMC for Sense Excel Reporting </li>
            <li><i class="fa fa-angle-right"></i> Create a sheetloops with filter </li>
            <li><i class="fa fa-angle-right"></i> How to set as task for example report </li>
          </ul>
          <!-- <p class="mt-20">
            Speaker: German / English
            </p> -->
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="feature-4 xs-mt-40">
          <span class="icon-game-controller" aria-hidden="true"></span>
          <h4>Data Analysis Competence</h4>
          <p class="mt-20"> On two days you will learn</p>
          <ul class="list list-unstyled theme-color mt-30">
            <li><i class="fa fa-angle-right"></i> Find your optimization potential </li>
            <li><i class="fa fa-angle-right"></i> What lies behind data quality </li>
            <li><i class="fa fa-angle-right"></i> How data becomes information </li>
            <li><i class="fa fa-angle-right"></i> How do you define relevant indicators </li>
            <li><i class="fa fa-angle-right"></i> How to make analysis available to others</li>
            <li><i class="fa fa-angle-right"></i> Find incorrect or inappropriate data</li>
          </ul>
          <!-- <p class="mt-20">
              Speaker:  German / English
            </p> -->
        </div>
      </div>
    </div>
  </div>
</section>
<div class="pt-50 pb-50" style="background: #323232">
  <div class="container">
    <img class="fadeUp wow animated" src="assets/images/media/sense-logos/technical-principles-ser.png?V=1.1" style="width: 100%; visibility: visible;" alt="Technical Overview">
  </div>
  
</div>

<section class="page-section-ptb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title mb-60 text-center">
          <h6>Choose from best of three plans </h6>
          <h2 class="title-effect">Affordable Pricing</h2>
          <p>We are dedicated to providing you with the best experience with Sense Excel possible.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="pricing-table boxed">
          <div class="pricing-top">
            <div class="pricing-title">
              <h3 class="mb-15">Sense Excel Basic Training</h3>
              <p>Understandig the both powerful sides of Qlik & Sense Excel.</p>
            </div>
            <div class="pricing-prize">
              <h2>1 day /<span> 1800€</span><br><span>incl. 4 persons</span> </h2>
            </div>
            <div class="pricing-button">
              <a class="button btn-block" href="/contact-us.html">Contact us</a>
            </div>
          </div>
          <div class="pricing-content">
            <div class="pricing-table-list">
              <ul class="list-unstyled">
                <li> <i class="fa fa-check"></i> Introduction Qlik Sense </li>
                <li> <i class="fa fa-check"></i> Architecture of Sense Excel </li>
                <li> <i class="fa fa-check"></i> Design principles </li>
                <li> <i class="fa fa-check"></i> Objects in Qlik Sense </li>
                <li> <i class="fa fa-check"></i> Datamanager and SenseEV formulas </li>
              </ul>
            </div>
          </div>
          <div class="text-center mt-20">
            <p>
              <small> Training Academy by</small>
            </p>
            <img src="../../assets/images/media/akquinet/logo.png" alt="akquinet">
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="pricing-table boxed active">
          <div class="pricing-top">
            <div class="pricing-title">
              <h3 class="mb-15">Sense Excel Reporting Training</h3>
              <p>Based on Sense Excel Training best practice to create reports</p>
            </div>
            <div class="pricing-prize">
              <h2>2 days /<span> 3600€</span><br><span>incl. 4 persons</span> </h2>
            </div>
            <div class="pricing-button">
              <a class="button btn-block" href="/contact-us.html">Contact us</a>
            </div>
          </div>
          <div class="pricing-content">
            <div class="pricing-table-list">
              <ul class="list-unstyled">
                <li> <i class="fa fa-check"></i> Architecture of Sense Excel Reporting </li>
                <li> <i class="fa fa-check"></i> Install SER on Qlik Sense Server </li>
                <li> <i class="fa fa-check"></i> Design & create templates </li>
                <li> <i class="fa fa-check"></i> Create a reporting task </li>
                <li> <i class="fa fa-check"></i> Deploy your reports to... </li>

              </ul>
            </div>
          </div>
          <div class="text-center mt-20">
            <p>
              <small> Training Academy by</small>
            </p>
            <img src="../../assets/images/media/akquinet/logo.png" alt="akquinet">
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="pricing-table boxed">
          <div class="pricing-top">
            <div class="pricing-title">
              <h3 class="mb-15">Data Analysis Competence
              </h3>
              <p>The data and analysis competence training</p>
            </div>
            <div class="pricing-prize">
              <h2>2 days /<span> 4000€</span><br><span>max. 20 persons</span> </h2>
            </div>
            <div class="pricing-button">
              <a class="button btn-block" href="/contact-us.html">Contact us</a>
            </div>
          </div>
          <div class="pricing-content">
            <div class="pricing-table-list">
              <ul class="list-unstyled">
                <li> <i class="fa fa-check"></i> What should the data solve </li>
                <li> <i class="fa fa-check"></i> Basics of a correct analysis </li>
                <li> <i class="fa fa-check"></i> Advanced data analyzes </li>
                <li> <i class="fa fa-check"></i> statistical pitfalls </li>
                <li> <i class="fa fa-check"></i> Correlation and causality </li>
              </ul>
            </div>
          </div>
          <div class="text-center mt-20">
            <p>
              <small> Training Academy by</small>
            </p>
            <img src="../../assets/images/media/akquinet/logo.png" alt="akquinet">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-mauticform1></app-mauticform1>
<app-download-fullpackage></app-download-fullpackage>