<!--=================================
raindrops -->
<section id="raindrops" class="raindrops black-bg" style="height: 50px;"></section>
<!--=================================
raindrops  -->
<!--=================================
action-box -->
<section class="contact-box contact-box-top theme-bg">
    <div class="container">
        <h3>
            <strong class="text-white">Europe </strong>
        </h3>
        <p class="text-white">It would be great to hear from you! If you have any questions, please do not hesitate to
            reach out.</p>

        <div class="row pt-20 pb-40">
            <div class="col-lg-4 col-sm-4 xs-mb-30">
                <div class="contact-box">
                    <div class="contact-icon">
                        <i class="ti-map text-white"></i>
                    </div>
                    <div class="contact-info">
                        <h5 class="text-white"> Paul-Stritter-Weg 5</h5>
                        <span class="text-white">22297 Hamburg - DE</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 xs-mb-30">
                <div class="contact-box">
                    <div class="contact-icon">
                        <i class="ti-headphone text-white"></i>
                    </div>
                    <div class="contact-info">
                        <h5 class="text-white">+49 4088173-2621</h5>
                        <span class="text-white">Mo-Fr 8am-4pm</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="contact-box">
                    <div class="contact-icon">
                        <i class="ti-email text-white"></i>
                    </div>
                    <div class="contact-info">
                        <h5 class="text-white">eu@senseexcel.com</h5>
                        <span class="text-white">We reply within 24 hours!</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mb-40">
                <button type="button" class="button btn-lg text-center black" data-toggle="modal" data-target="#myModal">
                    Time Difference
                </button>
            </div>
        </div>
    </div>
</section>