<div class="se"></div>
<section class="slider-parallax business-banner bg-overlay-black-50 parallax hide" data-jarallax='{"speed": 0.6}'
    style="background-image: url(assets/images/media/sense-logos/slide-bg-1.png);">
    <div class="slider-content-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="slider-content text-center">
                        <span class="text-white">Turbocharge Your Reporting and Analysis with Sense Excel</span>
                        <h1 class="theme-color text-uppercase">Sense Excel {{sense.excel.version}} </h1>
                        <p class="text-white mt-40" style="padding:0 320px">"The MOST Powerful Extension for<b
                                class="theme-color">
                                Qlik Sense</b>."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
   banner -->



<!--=================================
  about-->

<section class="business-13-about page-section-pb">
    
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-12">
                <div class="business-13-about-content white-bg">
                <app-qonnections-banner></app-qonnections-banner>
                    <h2 class="mb-30"> <i class="theme-color fw-5">QLIK SENSE</i>
                        CAPABILITY <i class="theme-color fw-5">FOR YOUR</i> EXCEL REPORTS</h2>
                    <p class="pl-130 pr-130">With Sense Excel you can turbocharge your reports and analysis. We give
                        Excel the additional horsepower to analyze and
                        visualize your data using it's familiar front end. Faster, more reliably and with as much data
                        as you choose, no matter
                        the source.
                    </p>      
                                  
                    <div>
                        <img src="assets/images/media/sense-logos/favicon-sense-excel.png" alt="SE-Logo">
                    </div>

                    <div class="row mt-60">
                        <div class="col-lg-12 col-md-12">
                            <h4 class="mb-30">WITH SENSE EXCEL YOU CAN!</h4>
                            <div class="isotope columns-3 popup-gallery no-title">
                                <div class="grid-item">
                                    <div class="portfolio-item">
                                        <img src="assets/images/media/version/3.2.0/Sense-Excel-3.2.0_1.png" alt="">
                                        <div class="portfolio-overlay">
                                            <h6 class="mt-30 theme-color">Loops with Sense Scripts </h6>
                                            <p class="mb-0">Loop over Dimensions and create sheets or files automatically. [3.0.0]</p>
                                        </div>
                                        <a class="popup portfolio-img"
                                            href="assets/images/media/version/3.2.0/Sense-Excel-3.2.0_1.png"><i
                                                class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="portfolio-item">
                                        <img src="assets/images/media/version/3.2.0/Sense-Excel-3.2.0_2.png" alt="">
                                        <div class="portfolio-overlay">
                                            <h6 class="mt-30 theme-color"> Open the Qlik Sense HUB </h6>
                                            <p class="mb-0">Take Full Advantage of the Power and Flexibility of Both. [3.0.0]
                                            </p>
                                        </div>
                                        <a class="popup portfolio-img"
                                            href="assets/images/media/version/3.2.0/Sense-Excel-3.2.0_2.png"><i
                                                class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="portfolio-item">
                                        <img src="assets/images/media/version/3.2.0/Sense-Excel-3.2.0_3.png" alt="">
                                        <div class="portfolio-overlay">
                                            <h6 class="mt-30 theme-color"> Set selections as in Qlik </h6>
                                            <p class="mb-0">The selections tool is available to the right in the
                                                selections bar. [3.2.0]</p>
                                        </div>
                                        <a class="popup portfolio-img"
                                            href="assets/images/media/version/3.2.0/Sense-Excel-3.2.0_3.png"><i
                                                class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="portfolio-item">
                                        <img src="assets/images/media/version/3.2.0/Sense-Excel-3.2.0_4.png" alt="">
                                        <div class="portfolio-overlay">
                                            <h6 class="mt-30 theme-color"> "fast add" Button </h6>
                                            <p class="mb-0">Simplest and fastest way to select fields. [3.2.0]</p>
                                        </div>
                                        <a class="popup portfolio-img"
                                            href="assets/images/media/version/3.2.0/Sense-Excel-3.2.0_4.png"><i
                                                class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="portfolio-item">
                                        <img src="assets/images/media/version/3.2.0/Sense-Excel-3.2.0_5.png" alt="">
                                        <div class="portfolio-overlay">
                                            <h6 class="mt-30 theme-color"> Create easy connections </h6>
                                            <p class="mb-0">Add easy your Qlik Sense Servers or Sense Desktop
                                                connections. [3.0.0]</p>
                                        </div>
                                        <a class="popup portfolio-img"
                                            href="assets/images/media/version/3.2.0/Sense-Excel-3.2.0_5.png"><i
                                                class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="portfolio-item">
                                        <img src="assets/images/media/version/3.2.0/Sense-Excel-3.2.0_6.png" alt="">
                                        <div class="portfolio-overlay">
                                            <h6 class="mt-30 theme-color"> Pivottbales from Qlik Sense </h6>
                                            <p class="mb-0">It`s easy to use add some rows, columns, measures. [3.2.0]</p>
                                        </div>
                                        <a class="popup portfolio-img"
                                            href="assets/images/media/version/3.2.0/Sense-Excel-3.2.0_6.png"><i
                                                class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="portfolio-item">
                                        <img src="assets/images/media/version/3.4.0/Sense-Excel-3.4.1_2.png" alt="">
                                        <div class="portfolio-overlay">
                                            <h6 class="mt-30 theme-color">Report Preview Button </h6>
                                            <p class="mb-0">Create a Sheetloop and preview your report very easy. [3.4.1]</p>
                                        </div>
                                        <a class="popup portfolio-img" href="assets/images/media/version/3.4.0/Sense-Excel-3.4.1_2.png"><i
                                                class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="portfolio-item">
                                        <img src="assets/images/media/version/3.4.0/Sense-Excel-3.4.0_1.png" alt="">
                                        <div class="portfolio-overlay">
                                            <h6 class="mt-30 theme-color"> Add and set Alternate States </h6>
                                            <p class="mb-0">Add new or set existing Alternate States to your objects. [3.4.1] </p>
                                        </div>
                                        <a class="popup portfolio-img" href="assets/images/media/version/3.4.0/Sense-Excel-3.4.0_1.png"><i
                                                class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="portfolio-item">
                                        <img src="assets/images/media/version/3.4.0/Sense-Excel-3.4.1_3.png" alt="">
                                        <div class="portfolio-overlay">
                                            <h6 class="mt-30 theme-color"> Show data from 2 apps </h6>
                                            <p class="mb-0">With Excel formulas "=SemseEV(...)" you can do it. [3.4.1]</p>
                                        </div>
                                        <a class="popup portfolio-img" href="assets/images/media/version/3.4.0/Sense-Excel-3.4.1_3.png"><i
                                                class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                                
                            </div>
                            <h4 class="mt-50">YOU WANT TO ENHANCE YOUR
                                EXCEL EXPERIENCE?</h4>
                            <p class="pl-130 pr-130">
                                Sense Excel, as an add-on-module for Qlik Sense,
                                combines the advantages of both Microsoft®
                                Excel and the Business Intelligence software Qlik
                                Sense – making it a user-friendly and high-performance
                                analysis tool. Sense Excel is easy to implement
                                and does not require any additional hardware.
                            </p>
                        </div>

                    </div>
                    <div class="row text-center mt-30">

                        <div class="col-lg-12 col-sm-12">
                            <h4 class="mb-30">WITH SENSE EXCEL YOU CAN:</h4>
                            <ul class="list list-unstyled mb-30  text-left">
                                <li> <i class="fa fa-check"></i> Seamlessly Integrate Microsoft Excel® and the Qlik
                                    Sense Business
                                    Intelligence Platform </li>
                                <li> <i class="fa fa-check"></i> Take Full Advantage of the Power and Flexibility of
                                    Both </li>
                                <li> <i class="fa fa-check"></i> Create Pixel-Perfect, Legally Compliant Reports from
                                    Qlik Sense using MS
                                    Excel </li>
                                <li> <i class="fa fa-check"></i> Deploy with NO Excel Server Installation and NO
                                    Separate Hardware </li>
                                <li> <i class="fa fa-check"></i> Scale for the Needs of Your Business </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 sm-mb-30">
                            <h4 class="mb-30">Sense Excel 3.0</h4>
                            <div class="js-video [youtube, widescreen]">
                                <iframe src="https://www.youtube.com/embed/XW6LxK9Qt84?rel=0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 sm-mb-30">
                            <h4 class="mb-30">SE + SER presentation</h4>
                            <div class="js-video [youtube, widescreen]">
                                <iframe src="https://www.youtube.com/embed/ailiiEBEqm8?rel=0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                       
        </div>
    </div>
</section>

<!--=================================
  about-->


<!--=================================
   about -->
<app-download-fullpackage></app-download-fullpackage>
<app-modals></app-modals>