       <!--=================================
        Our History -->

        <section id="our-history" class="our-history white-bg page-section-ptb">
          <div class="container">
              <div class="row">
                  <div class="col-lg-10 col-md-10 col-md-offset-1">
                      <div class="section-title text-center">
                          <h6>History of</h6>
                          <h2 class="title-effect">Sense Excel
                              <!-- <span class="theme-color">Reporting</span> -->
                          </h2>

                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-10 col-md-10 col-md-offset-1">
                      <div class="timeline-dots"></div>
                      <ul class="timeline">
                          <li>
                              <div class="timeline-badge">
                                  <p class="theme-color">Jun 2014</p>
                              </div>
                              <div class="timeline-panel bounceInLeft wow">
                                  <div class="timeline-heading">
                                      <h5 class="timeline-title text-muted">Initial Sense Excel Prototype Created</h5>

                                  </div>
                                  <div class="timeline-body">
                                      <p></p>
                                  </div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-badge">
                                  <p class="theme-color">Aug 2014</p>
                              </div>
                              <div class="timeline-panel bounceInRight wow">
                                  <div class="timeline-heading">
                                      <h5 class="timeline-title text-muted">First Customer Presentation</h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p></p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-badge">
                                  <p class="theme-color">Dec 2014</p>
                              </div>
                              <div class="timeline-panel  bounceInLeft wow">
                                  <div class="timeline-heading">
                                      <h5 class="timeline-title text-muted">Sense Excel 1.0 Release</h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p> </p>
                                  </div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-badge">
                                  <p class="theme-color">Dec 2014 </p>
                              </div>
                              <div class="timeline-panel  bounceInRight wow">
                                  <div class="timeline-heading">
                                      <h5 class="timeline-title text-muted">
                                          <a href="https://www.qlik.com/de-de/company/press-room/press-releases/0630-bonprix-setzt-auf-qlik-sense">First Customer Acquisition - Bonprix</a>
                                      </h5>
                                  </div>
                                  <div class="timeline-body">

                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-badge">
                                  <p class="theme-color">May 2015</p>
                              </div>
                              <div class="timeline-panel  bounceInLeft wow">
                                  <div class="timeline-heading">
                                      <h5 class="timeline-title">Public Launch Presentation</h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p> Qlik 10
                                          <sup>th</sup> Annual Partner Conference </p>
                                  </div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-badge">
                                  <p class="theme-color">Jun 2015</p>
                              </div>
                              <div class="timeline-panel  bounceInRight wow">
                                  <div class="timeline-heading">
                                      <h5 class="timeline-title text-muted">Sense Excel 2.0 Release</h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p>
                                      </p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-badge">
                                  <p class="theme-color">First Partner Signed</p>
                              </div>
                              <div class="timeline-panel  bounceInLeft wow">
                                  <div class="timeline-heading">
                                      <h5 class="timeline-title text-muted">
                                          <img style="top: -20px;position: relative; right: 20px;" src="https://www.heyde.ch/hs-fs/hubfs/logo-heyde@2x.png?t=1537995180071&width=158&name=logo-heyde@2x.png" alt="heyde AG">
                                      </h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p> Heyde (Schweiz) AG </p>
                                  </div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-badge">
                                  <p class="theme-color">Jul 2016 </p>
                              </div>
                              <div class="timeline-panel  bounceInRight wow">
                                  <div class="timeline-heading">
                                      <h5 class="timeline-title text-muted">Sense Excel Reporting development commences</h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p>
                                      </p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-badge">
                                  <p class="theme-color">Jun 2016 </p>
                              </div>
                              <div class="timeline-panel  bounceInLeft wow">
                                  <div class="timeline-heading">
                                      <h5 class="timeline-title text-muted">
                                          Sense Excel Reporting Beta Release
                                      </h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p> </p>
                                  </div>
                              </div>
                          </li>

                          <li class="timeline-inverted">
                              <div class="timeline-badge">
                                  <p class="theme-color">May 2017 </p>
                              </div>
                              <div class="timeline-panel  bounceInRight wow">
                                  <div class="timeline-heading">
                                      <h5 class="timeline-title text-muted">First Public Presentation of Sense Excel Reporting</h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p>
                                      </p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-badge">
                                  <p class="theme-color">May 2017 </p>
                              </div>
                              <div class="timeline-panel  bounceInLeft wow">
                                  <div class="timeline-heading">
                                      <h5 class="timeline-title text-muted">
                                          North American Master Reseller Signed
                                      </h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p>Strategypoint Solutions, LLC</p>
                                  </div>
                              </div>
                          </li>
                          <li class="timeline-badge">
                              <div class="timeline-badge">
                                  <p class="theme-color">Aug 2017 </p>
                              </div>
                              <div class="timeline-panel  bounceInRight wow">
                                  <div class="timeline-heading">
                                      <img style="top: -40px;position: relative; right:0;" src="assets/images/clients/03.png" alt="vasoft.com">
                                  </div>
                                  <div class="timeline-body">
                                      <p>
                                           First distributor vasoft.com
                                      </p>
                                  </div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-badge">
                                  <p class="theme-color">Mar 2018 </p>
                              </div>
                              <div class="timeline-panel  bounceInRight wow">
                                  <div class="timeline-heading">
                                      <h5 class="timeline-title text-muted">Sense Excel Version 2.2 released</h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p>
                                      </p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-badge">
                                  <p class="theme-color">Mar 2018</p>
                              </div>
                              <div class="timeline-panel  bounceInLeft wow">
                                  <div class="timeline-heading">
                                      <h5 class="timeline-title text-muted">
                                          Sense Excel Rebranding Launch
                                      </h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p>
                                          <img src="assets/images/media/sense-logos/fav.png" style="width:80px" alt="Sense Excel Logo">
                                          <img src="assets/images/media/sense-logos/favicon-sense-excel-reporting.png" style="width:100px" alt="Sense Excel Reporting Logo">
                                      </p>
                                  </div>
                              </div>
                          </li>
                          <li class="timeline-arrow">
                              <i class="fa fa-chevron-down"></i>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </section>