<app-pagetitle path="events" title="Qlik Qonnections" subtitle="MAY 13-16 • Dallas, TX"
  imageurl="assets/images/media/sense-logos/downloads.png"></app-pagetitle>
<section>
  <div class="container">
    <div class="col-lg-12 col-md-12 mt-30 mb-30">
      <div class="section-title  text-center">
        <h1>Qlik's Global Conference</h1>
        <h2 class="title"><span class="theme-bg">MAY 13-16 • 2019 </span></h2>
        <h3 class="subtitle">GAYLORD TEXAN RESORT & CONVENTION CENTER <br>
          DALLAS, TX </h3>
      </div>
    </div>
    <div class="row mt-50">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="feature-3 mb-30">
          <div class="feature-3-image mb-20">
            <div class="isotope columns-12 popup-gallery no-title">
              <div class="grid-item">
                <div class="portfolio-item">
                  <img src="../../../assets/images/events/qlikqonnections_2019.png" alt="">
                  <div class="portfolio-overlay">

                  </div>
                  <a class="popup portfolio-img" href="../../../assets/images/events/qlikqonnections_2019.png"><i
                      class="fa fa-arrows-alt"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="feature-3-info">
            <h4 class="text-back">Meet the Sense Excel Team</h4>
            <p>Still gaps in operations, knowhow and technology that prevent you from being Rockstars <i class="fa "></i> in your business? Still too much
            time spent on defining and validating your data analyses and reporting issues?<br>
            </p>
            <p>
            We can help and bridge gaps with the world's top web-based analysis tool Qlik Sense, Qlik Sense in the Cloud and our Extensions like: Sense Excel and Sense Excel Reporting
            As a Qlik Tech Elite solution provider, we work closely with our customers and aim for fast project implementation. 
            We know how and get the best results shortly.
</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="feature-3 mb-30">
          
          <div class="feature-3-info">
            <h4 class="text-backy">Ready for a new EXCEL EXPERIENCE?</h4>
            <p class=" text-justify">What are the key success factors in a data-driven world? How can everyone in your organisation get fluent in data
            literarcy asap?</p>
            <p class=" text-justify">We find answers at Qonnections 2019. Connect worlds and technologies like MS Excel and Sense the way your team speeds up
            to get data literacy virtuosic. Make connections you won´t find anywhere else. Bring back new insights to inspire your
            team and leapfrog commodity.
            </p>
            <h3>What’s in it for you?</h3>
            <ul class="list list-mark">
              <li>Seeing is Believing: LIVE DEMOS</li>
              <li>Speaking to CEOs and Dev Team</li>
              <li>Share use cases with our<br>international Sales Team</li>
              <li>Roadmap and vision shared by our<br>Product Manager</li>
              <li>new product line Sense Excel <span class="theme-color">365</span></li>
            </ul>
            <p class="mt-4">
              <a class="button button-border btn-block" href="https://www.qlikqonnections.com/" target="_blank">Qonnections webpage</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <app-mauticform3></app-mauticform3>
</section>