<div class="row mt-80">
  <div class="col-lg-12 col-md-12">
    <h4 class="mb-30">{{ sense.installer.name}} <span class="badge badge-secondary">{{sense.installer.version}}</span></h4>
  </div>
  <div class="col-lg-4 col-md-4 mb-50">
    <div class="card">
      <div class="card-body">
        Easy installation & Updates
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4  mb-50">
    <div class="card">
      <div class="card-body">
        Do not miss updates and betas 
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 mb-50">
    <div class="card">
      <div class="card-body">
       upgrade / downgrade your version
      </div>
    </div>
  </div>
</div>
<img src="../../assets/images/media/version/4.0/Sense-Excel-Install-Updater.jpg"
  alt="Sense Excel Install & Upater Tool">
  <div class="text-center mt-80">
    <a href="/downloads.html" class="button border">Download & Install Sense Excel {{sense.excel.version}} <i class="fa fa-icon fa-download"></i> </a>
  </div>
